html.remodal-is-locked {
  overflow: hidden;
  touch-action: none;
}

.remodal,
[data-remodal-id] {
  display: none;
}

.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  display: none;
}

.remodal-wrapper {
  position: fixed;
  z-index: 1000000001;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 10px 0;
  display: none;
  overflow: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch;

  &::after {
    display: inline-block;
    height: 100%;
    margin-left: -0.05em;
    content: "";
  }
}

.remodal-overlay,
.remodal-wrapper {
  backface-visibility: hidden;
}

.remodal-is-initialized {
  display: inline-block;
}

.remodal-bg {

  &.remodal-is-opening,
  &.remodal-is-opened {
    filter: blur(3px);
  }
}

.remodal-overlay {
  background: rgba(43, 46, 56, 0.9);

  &.remodal-is-opening,
  &.remodal-is-closing {
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  &.remodal-is-opening {
    animation-name: remodal-overlay-opening-keyframes;
  }

  &.remodal-is-closing {
    animation-name: remodal-overlay-closing-keyframes;
  }
}

.remodal {
  position: relative;
  outline: none;
  text-size-adjust: 100%;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 20px 15px;
  transform: translate3d(0, 0, 0);
  color: #2b2e38;
  background: #fff;

  @include from(768px) {
    padding: 30px 35px;
  }

  &.remodal-is-opening,
  &.remodal-is-closing {
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  &.remodal-is-opening {
    animation-name: remodal-opening-keyframes;
  }

  &.remodal-is-closing {
    animation-name: remodal-closing-keyframes;
  }
}

.remodal,
.remodal-wrapper:after {
  vertical-align: middle;
}

.remodal-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  overflow: visible;
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: color 0.2s;
  text-decoration: none;
  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent;

  &:hover,
  &:focus {
    color: #2b2e38;
  }

  &::before {
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
    font-size: 30px;
    line-height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 35px;
    content: "\00d7";
    text-align: center;
  }
}

.remodal-confirm {
  font: inherit;
  display: inline-block;
  overflow: visible;
  min-width: 80px;
  margin: 0;
  padding: 9px 0;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: 0;
  outline: 0;
  color: #fff;
  background: #81c784;

  &:hover,
  &:focus {
    background: #66bb6a;
  }
}

.remodal-confirm,
.remodal-cancel,
.remodal-close {

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

.remodal-text-note {
  margin-bottom: 25px;
  margin-top: 15px;
  word-wrap: break-word;
  line-height: 1.4;
}

@keyframes remodal-opening-keyframes {
  from {
    transform: scale(1.05);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes remodal-closing-keyframes {
  from {
    transform: scale(1);

    opacity: 1;
  }
  to {
    transform: scale(0.95);

    opacity: 0;
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@include from(641px) {
  .remodal {
    max-width: 700px;
  }
}