//--- Добавление разрыва страницы при печати документа после заданного элемента
// always - Всегда добавляет разрыв страницы после элемента
// auto - Вставляет разрыв страницы при необходимости
// avoid - Запрещает разрыв страницы после элемента
// left - Пропускает одну или две страницы после элемента, чтобы следующая страница при печати была четной
// right - Пропускает одну или две страницы после элемента, чтобы следующая страница при печати была нечетной
@mixin pba($value: avoid) {
  page-break-after: $value !important;
}

//--- Добавление разрыва страницы при печати документа перед заданным элементом
// always - Всегда добавляет разрыв страницы перед элементом
// auto - Вставляет разрыв страницы при необходимости
// avoid - Запрещает разрыв страницы перед элементом
// left - Пропускает одну или две страницы перед элементом, чтобы следующая страница при печати была четной
// right - Пропускает одну или две страницы перед элементом, чтобы следующая страница при печати была нечетной
@mixin pbb($value: avoid) {
  page-break-before: $value !important;
}

//--- Разрешает или запрещает разрыв страницы внутри элемента при печати
// auto - Вставляет разрыв страницы при необходимости
// avoid - Запрещает разрыв страницы внутри элемента
@mixin pbi($value: avoid) {
  page-break-inside: $value !important;
}

// Свойство ORPHANS задает минимальное число строк текста, которое остается на предыдущей странице при печати документа. Это свойство работает в том случае, если весь текст размещается на двух и более печатных страницах
// Свойство WIDOWS задаёт минимальное число строк текста, которое располагается на следующей странице при печати документа. Это свойство работает в том случае, если весь текст размещается на двух и более печатных страницах. Если значение свойства WIDOWS конфликтует со значением ORPHANS, то WIDOWS имеет приоритет и учитывается в первую очередь
@mixin orphansAndWidows($orphansValue: 2, $widowsValue: 2) {
  @if ($orphansValue != 2 and $widowsValue != 2) {
    widows: $widowsValue !important;
    orphans: $orphansValue !important;
  } @else if ($orphansValue != 2) {
    orphans: $orphansValue !important;
  } @else if ($widowsValue != 2) {
    widows: $widowsValue !important;
  }
}

// Отступы страницы при печати
@page :first {
  margin: 1cm !important;
}

@page :left {
  margin: 1cm !important;
}

@page :right {
  margin: 1cm !important;
}

@media print {

  body {
    background-color: #fff !important;
    text-rendering: optimizeLegibility !important;
  }

  footer,
  iframe,
  .is-hidden-print {
    display: none !important;
  }

  header {
    min-height: 0 !important;
    margin-bottom: 20px !important;
  }

  .e-header_logo {
    text-align: center !important;
    width: 100% !important;
  }

  * {
    box-shadow: none !important;
  }

  .b-section {

    a[href^=http]:after {
      content:" [" attr(href) "] " !important;
    }

    sup[data-content] {
      border: none !important;
      border-radius: 0 !important;
      display: inline !important;
      padding: 0 !important;
      margin: 0 6px 0 3px !important;
    }

    &--main {
      background-color: #fff !important;
      height: 400px !important;
    }

    &--video {
      display: none !important;
    }

    &--text {
      border: none !important;
      margin-bottom: 0 !important;

      p {
        @include orphansAndWidows(3, 3);
      }
    }

    &--thumb:not(.b-section--thumb__small) {
      height: 500px !important;
      width: $max-width-content !important;
      @include pba;
      @include pbi;
    }

    &--thumb__small {
      width: 70% !important;
      @include pba(auto);
      @include pbb(auto);
      @include pbi;
    }

    &--author {
      background-color: #fff !important;
      margin-top: 0 !important;
      @include pbi;
    }

    &--map {
      width: $max-width-content !important;
      height: 500px !important;
      @include pbi;

      .b-map-container {
        height: 500px !important;
        position: relative !important;
        overflow: hidden !important;
      }
    }

    &--note-list {
      display: block !important;
      font-size: 14px !important;
      padding: 20px 15px !important;
      max-width: $max-width-content !important;
      background-color: #fff !important;
      line-height: 1.3 !important;
      hyphens: auto !important;

      .b-title {
        font: bold 22px $sans-serif-fonts;
        margin-bottom: 20px;
      }

      .b-note-list {

        &__items {
          list-style: decimal;
          padding-left: 30px;
        }

        &__item {
          &:not(:last-child) {
            margin-bottom: 15px;
          }
        }
      }
    }
  }

  .is-lazy-load {

    &::after,
    + .b-lazy-spinner {
      display: none !important;
    }

    &--bg {
      background-attachment: scroll !important;
      -webkit-print-color-adjust: exact !important;
      print-color-adjust: exact !important;
    }
  }

  .b-title {
    @include pbi;
    @include pba;
    @include orphansAndWidows(3, 3);

    .title-text {
      @include pbi;
    }

    + p {
      @include pbb;
    }
  }

  .b-thumb-caption {
    opacity: 1 !important;
    left: 15px !important;
    right: auto !important;
    margin-left: 0 !important;
    margin-right: 15px !important;
  }

  .b-link-article-print {
    display: block !important;
    text-align: center !important;
    padding: 20px 0 0 !important;
    font: italic 400 14px $sans-serif-fonts !important;
    text-decoration: underline !important;
  }
}
