unless embed
  footer(role="contentinfo")
    .b-footer_copyright!= '&copy;&nbsp;' + ((lang == "ru") ? "&laquo;Кавказский Узел&raquo;" : "&quot;Caucasian Knot&quot;")
    .b-footer_infotext
      != (lang == "ru") ? "При цитировании информации гиперссылка на Интернет-СМИ &laquo;Кавказский узел&raquo; обязательна." : "When citing any of the above information, the hyperlink to the Internet-based medium &quot;Caucasian Knot&quot; is mandatory."
