head
  meta(charset="utf-8")
  title #{pageTitle}
  unless embed
    link(rel="dns-prefetch", href=linkMain)
    link(rel="preconnect", href=linkMain)
    meta(name="description", content=pageDescription)
    meta(name="robots", content="index,follow,noodp")
    meta(name="googlebot", content="index,follow")
    link(rel="alternate", href=(lang == "ru") ? "//eng.kavkaz-uzel.eu/" : "//kavkaz-uzel.eu/", hreflang=(lang == "ru") ? "en" : "ru")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, viewport-fit=cover")
  unless embed
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="#333333")
    meta(name="msapplication-TileColor", content="#ffffff")
    meta(name="msapplication-TileImage", content=pathImg + "favicons/mstile-144x144.png")
    meta(name="theme-color", content="#333333")
    meta(property="og:title", content=pageTitle)
    meta(property="og:type", content="article")
    meta(property="og:image", content=linkInImg)
    meta(property="og:site_name", content=(lang == "ru") ? "Кавказский Узел" : "Caucasian Knot")
    meta(property="og:description", content=pageDescription)
    meta(property="og:locale", content=(lang == "ru") ? "ru_RU" : "en_US")
    meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content="@caucasianknot")
    meta(name="twitter:title", content=pageTitle)
    meta(name="twitter:description", content=pageDescription)
    meta(name="twitter:image", content=linkInImg)
    meta(itemprop="name", content=pageTitle)
    meta(itemprop="description", content=pageDescription)
    meta(itemprop="image", content=linkInImg)
    link(rel="apple-touch-icon", sizes="152x152", href=pathImg + "favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", href=pathImg + "favicons/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href=pathImg + "favicons/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href=pathImg + "favicons/manifest.json")
    link(rel="mask-icon", href=pathImg + "favicons/safari-pinned-tab.svg", color="#000000")
  link(rel="stylesheet", href=pathCSSAssets, inline)
