unless embed
  header(role="banner")
    a.e-header_logo(href=linkMain)=companyName
    .b-header_share.addthis_toolbox.is-hidden-print
      a.addthis_button_facebook(rel="nofollow", href="#")
      a.addthis_button_twitter(rel="nofollow", href="#")
      a.addthis_button_vk(rel="nofollow", href="#")
      a.addthis_button_odnoklassniki_ru(rel="nofollow", href="#")
      a.addthis_button_livejournal(rel="nofollow", href="#")
      a.addthis_button_google_plusone_share(rel="nofollow", href="#")
      a.addthis_button_email(rel="nofollow", href="#")
      a.addthis_button_print(rel="nofollow", href="#")
      .b-clear
