script.
  window.isEmbed = #{embed};
if embed
  script(src=pathJSLibs, inline)
  script(src=pathJSApp, inline)
else
  script(src=pathJSLibs, defer)
  script(src=pathJSApp, defer)
  script(src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5149e94276fbc666", async)
  script.
    var addthis_share = {title:'#{pageTitle}',description:'#{pageDescription}'};
if env == "prod"
  script(src="https://cdn.onthe.io/io.js/Nl0WVFFIrRBc", async)
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-5526541-1', 'auto');
    ga('send', 'pageview');
  script.
    (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
        try {
          w.yaCounter23640679 = new Ya.Metrika({
            id:23640679,
            webvisor:true,
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
          });
        } catch(e) { }
      });
      var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
      if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
  noscript
    div
      img(src='//mc.yandex.ru/watch/23640679', style='position:absolute; left:-9999px;', alt='')
