doctype html
include settings.pug
block vars
html(lang=(lang == "ru") ? "ru" : "en", dir="ltr")
  include head.pug
  body(class=embed ? "no-js is-embeded" : "no-js")
    .b-wrapper
      include header.pug
      main(itemscope, itemtype="http://schema.org/Article", role="main")
        unless embed
          link(itemprop="mainEntityOfPage", itemscope, href="")
          meta(itemprop="datePublished", content=datePub)
          meta(itemprop="dateModified", content=dateModify)
          div(itemprop="publisher", itemscope, itemtype="https://schema.org/Organization", hidden)
            div(itemprop="logo", itemscope, itemtype="https://schema.org/ImageObject")
              img(alt=companyName, itemprop="image url", src=pathImg + "favicons/apple-touch-icon-152x152.png")
              meta(itemprop="width", content="152")
              meta(itemprop="height", content="152")
            meta(itemprop="telephone", content=phoneCompany)
            meta(itemprop="address", content=addressCompany)
            meta(itemprop="name", content=companyName)
        block content
      include footer.pug
    include js.pug
