block vars
  //- Язык
  - var lang = "ru"

  //- Название компании
  - var companyName = (lang == "ru") ? "Кавказский Узел" : "Caucasian Knot"

  //- Заголовок страницы
  - var pageTitle = (lang == "ru") ? "За что волонтеры Юга полюбили Собчак вместо Путина и Навального" : "Why volunteers of Southern Russia prefer Sobchak, not Putin or Navalny"

  //- SEO: description
  - var pageDescription = (lang == "ru") ? "После выдвижения светской львицы и журналистки Ксении Собчак на пост президента России в регионах развернулась деятельность ее штабов и волонтерских групп. Чего ждать от «кандидата против всех», чем она привлекательнее Путина и Навального, «Кавказский узел» выяснял у сторонников и волонтеров Собчак в Ростове-на-Дону, Минеральных Водах, Сочи и Волгограде" : 'After Ksenia Sobchak, a public person and a journalist, had been nominated to run for Russian presidency, her offices and volunteer groups launched activities in the regions. In Rostov-on-Don, Mineralnye Vody, Sochi, and Volgograd, the "Caucasian Knot" interviewed supporters and volunteers of Ksenia Sobchak to find out what to expect from the "candidate against all" and why she is more preferable than Putin and Navalny. Rivals and opponents of Ksenia Sobchak also had something to tell about her'

  //- Путь до css
  - var pathCSSAssets = "css/" + ((env == "prod" || env == "preprod") ? "assets.min.css" : "assets.dev.css") + "?v=" + Date.now()

  //- Путь до картинок
  - var pathImg = (env == "prod") ? "/special_assets/" + folderName + "/images/" : "images/"

  //- Путь до js
  - var pathJS = (env == "prod" && !embed) ? "/special_assets/" + folderName + "/js/" : "js/"
  - var pathJSApp = pathJS + ((env == "prod" || env == "preprod") ? "app.min.js" : "app.js") + "?v=" + Date.now()
  - var pathJSLibs = pathJS + ((env == "prod" || env == "preprod") ? "libs.min.js" : "libs.js") + "?v=" + Date.now()

  //- Сссылка на главную
  - var linkMain = (lang == "ru") ? "//kavkaz-uzel.eu/" : "//eng.kavkaz-uzel.eu/"

  //- Ссылка на картинку для OpenGraph
  - var linkInImg = linkMain + "special_assets/" + folderName + "/images/content/img-01-1280.jpg"

  //- Адрес компании
  - var addressCompany = (lang == "ru") ? "Россия, 129226, г. Москва, ул. Докукина, д. 6" : "Russia, 129226, Moscow, Dokukina Str., 6"

  //- Телефон компании
  - var phoneCompany = "+7 (495) 640-05-27"
