@include font-face("Roboto", "fonts/Roboto/RobotoRegular", 400, normal, $file-formats: ttf woff woff2);

@include font-face("PT Serif", "fonts/PTSerif/PTSerifRegular", 400, normal, $file-formats: ttf woff woff2);
@include font-face("PT Serif", "fonts/PTSerif/PTSerifItalic", 400, italic, $file-formats: ttf woff woff2);
@include font-face("PT Serif", "fonts/PTSerif/PTSerifBold", 700, normal, $file-formats: ttf woff woff2);
@include font-face("PT Serif", "fonts/PTSerif/PTSerifBoldItalic", 700, italic, $file-formats: ttf woff woff2);
