@charset 'utf-8';

.b-clear {
  @include clearfix;
}

::selection {
  background-color: $selection-bg-color;
  text-shadow: none;
  color: $selection-text-color;
}

a {
  color: $link-color;
  text-decoration: underline;
  text-decoration-skip: ink;
  transition: all 0.3s;

  &:hover {
    text-decoration: none;
  }
}

img {
  @include img-full;
}

svg {
  display: block;
  width: 100%;
}

body {
  position: relative;
  font: $base-font-size $default-font-family;
  min-width: $min-width;
  color: $text-color;
  background-color: #f7f7f7;
  overflow-x: hidden;

  .is-ios & {
    padding-top: 20px;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
  }

  .is-fonts-loaded & {
    font-family: $base-font-family;
    font-weight: 400;
  }
}

.b-wrapper {
  position: relative;
  width: 100%;
}

.is-lazy-load {
  position: relative;
  background-color: #eee;

  &--bg {
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &::after {
    content: '';
  }

  &::after,
  + .b-lazy-spinner {
    position: absolute;
    top: 50%;
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    text-indent: -9999em;
    z-index: 8;
    border-radius: 50%;
    border-top: 5px solid rgba(0, 0, 0, 0.3);
    border-right: 5px solid #444;
    border-bottom: 5px solid rgba(0, 0, 0, 0.3);
    border-left: 5px solid #444;
    transform: translate(-50%, -50%) translateZ(0);
    animation: loader 1.1s infinite linear;
  }

  &.has-loaded,
  &.b-error {
    animation: fadeIn 1s;

    &::after {
      content: none;
    }

    + .b-lazy-spinner {
      display: none;
    }
  }
}

.b-message-error {
  display: none;
  text-align: center;
  width: 100%;
  padding: 0 15px;
  @include align-center(false, true);
  line-height: 1.5;

  .is-lazy-load.b-error ~ & {
    display: block;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}