// Fonts List
$roboto-font: 'Roboto', sans-serif;
$ptserif-font: 'PT Serif', serif;
$sans-serif-fonts: Arial, "Helvetica Neue", Helvetica, sans-serif;

// Base Font
$base-font-size: 16px !default;
$base-font-family: $roboto-font;
$default-font-family: $sans-serif-fonts;

// Width
$min-width: _breakpoints-values(mobile-small);
$max-width-content: 1140px;
$max-width-media: 2200px;

// Colors
$selection-bg-color: #333;
$selection-text-color: #fff;

$link-color: #359600;
$text-color: #242424;
