extends includes/layout.pug

block content
  - var sizes = {'data-src': '2200', 'data-src-1280': '1280', 'data-src-1600': '1600', 'data-src-1920': '1920'};
  - var attributessBlazy = {};

  each size, src in sizes
    - attributessBlazy[src] = pathImg + "content/img-01-" + size + ".jpg?v=" + Date.now()

  section.b-section--main.is-lazy-load.is-lazy-load--bg&attributes(attributessBlazy)
    unless embed
      span(itemprop="image", itemscope, itemtype="https://schema.org/ImageObject", hidden)
        img(itemprop="image url", alt!=(lang == 'ru') ? "Собчак в&nbsp;толпе. Фото агентства &laquo;Reuters&raquo;" : "", width="640", height="480", src=pathImg + "content/img-01-1280.jpg?v=" + Date.now())
        meta(itemprop="width", content="640")
        meta(itemprop="height", content="480")
    .b-section--main_info
      h1.b-info_title(itemprop="headline")=pageTitle
    .b-thumb-caption REUTERS/ANTON VAGANOV

  article(itemprop="articleBody")
    section.b-section.b-section--text.b-section--text__intro#sectionIntro
      p
        em
          if (lang == 'ru')
            |После выдвижения светской львицы и&nbsp;журналистки Ксении Собчак на&nbsp;пост президента России в&nbsp;регионах развернулась деятельность ее&nbsp;штабов и&nbsp;волонтерских групп. Чего ждать от&nbsp;&laquo;кандидата против всех&raquo;, чем она привлекательнее Путина и&nbsp;Навального, &laquo;Кавказский узел&raquo; выяснял у&nbsp;сторонников и&nbsp;волонтеров Собчак в&nbsp;Ростове-на-Дону, Минеральных Водах, Сочи и&nbsp;Волгограде. Противникам и&nbsp;оппонентам Ксении тоже было, что рассказать о&nbsp;Собчак.
          else
            |After Ksenia Sobchak, a public person and a journalist, had been nominated to run for Russian presidency, her offices and volunteer groups launched activities in the regions. In Rostov-on-Don, Mineralnye Vody, Sochi, and Volgograd, the "Caucasian Knot" interviewed supporters and volunteers of Ksenia Sobchak to find out what to expect from the "candidate against all" and why she is more preferable than Putin and Navalny. Rivals and opponents of Ksenia Sobchak also had something to tell about her.

    section.b-section.b-section--video
      iframe.is-lazy-load(data-src=(lang == 'ru') ? "https://www.youtube.com/embed/Gn7TzYZXQ4w" : "https://www.youtube.com/embed/CS-mmoH0s8M", frameborder="0", allowfullscreen)
      .b-lazy-spinner
      .b-message-error!=(lang == 'ru') ? "Видео недоступно<br>Вы&nbsp;просматриваете Offline версию статьи, либо произошла ошибка при загрузке" : "Video is not available<br>You are viewing the Offline version of the article, or an error occurred while downloading"

    section.b-section.b-section--text
      h3.b-title!=(lang == 'ru') ? "Волонтеры Собчак протестуют, но&nbsp;не&nbsp;хотят штрафов и&nbsp;арестов" : "Volunteers of Ksenia Sobchak hold protests, but do not want to be fined or arrested"

      p
        em
          if (lang == 'ru')
            |Волонтерам и&nbsp;работникам штабов Ксении Собчак
          else
            |Volunteers and staff members of the Ksenia Sobchak's
          sup(data-content!=(lang == 'ru') ? "Ксения Собчак&nbsp;&mdash; дочь Анатолия Собчака, занимавшего в&nbsp;1991&ndash;1996 годах пост мэра Санкт-Петербурга, в&nbsp;чьей команде работал нынешний президент России Владимир Путин. Долгое время она была известна как ведущая шоу на&nbsp;телевидении и&nbsp;радио, в&nbsp;том числе &laquo;Дом-2&raquo;, &laquo;Блондинка в&nbsp;Шоколаде&raquo;, &laquo;Собчак живьём&raquo;, &laquo;Барабака и&nbsp;Серый Волк&raquo;. Однако в&nbsp;2011 году Ксения Собчак поддержала протесты оппозиции на&nbsp;Болотной площади. &laquo;Мы&nbsp;пришли сюда бороться не&nbsp;за&nbsp;власть, а&nbsp;чтобы влиять на&nbsp;власть&raquo;,&nbsp;&mdash; цитирует выступление Собчак на&nbsp;митинге 24&nbsp;декабря 2011 года &laquo;РБК&raquo;.<br>Собчак приняла участие в&nbsp;Координационном совете оппозиции, избранном в&nbsp;2012&nbsp;году. &laquo;Я&nbsp;твердо убеждена, что на&nbsp;данном историческом этапе нам надо увеличивать численность, не&nbsp;отпугивая рассерженных горожан радикальными лозунгами, а&nbsp;думая о&nbsp;их&nbsp;прямых интересах. Эти люди уже явно показали нам, как говорится, “ногами”, что они за&nbsp;перестройку и&nbsp;эволюцию власти, но&nbsp;против революции&raquo;,&nbsp;&mdash; отмечала она 19&nbsp;ноября 2012 года в&nbsp;своем блоге в&nbsp;&laquo;Живом Журнале&raquo;.<br>Ксения Собчак также высказывалась и&nbsp;по&nbsp;поводу происходящего на&nbsp;Северном Кавказе. В&nbsp;2014 году она публично поспорила с&nbsp;главой Чечни Рамзаном Кадыровым о&nbsp;методах борьбы с&nbsp;терроризмом в&nbsp;регионе, задав в&nbsp;ходе пресс-конференции президента России Владимира Путина вопрос о&nbsp;&laquo;внесудебных расправах над родственниками людей, обвиняемых в&nbsp;терактах&raquo;. Подробнее о&nbsp;заявлениях Кадырова, Собчак и&nbsp;Путина говорится в&nbsp;опубликованной на&nbsp;&laquo;Кавказском узле&raquo; справке &laquo;<a href='http://www.kavkaz-uzel.eu/articles/254373/' target='_blank'>Собчак, Путин и&nbsp;Кадыров: о&nbsp;спорных методах борьбы с&nbsp;террором</a>&raquo;." : "Ksenia Sobchak is a daughter of Anatoly Sobchak, who was the Mayor of Saint Petersburg in 1991-1996, and in whose team the incumbent Russian President, Vladimir Putin, had worked. For a long time Ksenia was known as the presenter of TV and radio shows, including “Dom-2”, “Blonde in Chocolate”, “Sobchak Live” and “Barabaka and the Gray Wolf”. However, in 2011, Ksenia Sobchak supported oppositional protests in Bolotnaya Square. “We came here not to fight for power, but to influence those in power,” the RBC quoted Ms Sobchak as saying at a rally on December 24, 2011. Ksenia Sobchak took part in the Coordination Council of the Opposition, elected in 2012. “I am firmly convinced that at this historical stage we need to increase our membership and not to scare away angry citizens by radical slogans, but thinking about their direct interests. These people have already clearly shown to us, as they say, ‘with their feet,’ that they are for the perestroika and evolution of power, but against revolution,” she noted on November 19, 2012, in her blog in the LiveJournal. Ksenia Sobchak also spoke about what was happening in Northern Caucasus. In 2014, she publicly argued with the head of Chechnya, Ramzan Kadyrov, about methods of combating terrorism in the region, by asking at a press conference of Russian President Vladimir Putin a question about “extrajudicial killings of relatives of people accused of terror acts.” You may find more details about the statements of Kadyrov, Sobchak and Putin in the material published by the “Caucasian Knot” entitled “<a href='http://www.kavkaz-uzel.eu/articles/254373/' target='_blank'>Sobchak, Putin and Kadyrov: On Disputable Methods of Combating Terror</a>”.") 1
          if (lang == 'ru')
            |импонирует ее&nbsp;позиция о&nbsp;мирном и&nbsp;законном протесте. Активисты считают, что в&nbsp;отличие от&nbsp;Навального, у&nbsp;Собчак больше шансов занять пост президента России&nbsp;&mdash; она не&nbsp;призывает своих сторонников выходить на&nbsp;незаконные митинги и&nbsp;&laquo;зарабатывать&raquo; штрафы и&nbsp;аресты.
          else
            |offices like her position concerning peaceful and lawful protests. Activists believe that, unlike Navalny, Sobchak has more chances to become the president of Russia, since she does not call on her supporters to come to illegal rallies and "earn" fines and arrests.

      p
        if (lang == 'ru')
          |Офицер запаса, юрист, волонтер ростовского штаба <b>Николай Кладовой</b>, пояснил корреспонденту &laquo;Кавказского узла&raquo;, что в&nbsp;начале 2017 года принимал активное участие в&nbsp;работе штаба Навального
        else
          |Lawyer <b>Nikolai Kladovoi</b>, a reserve officer and a volunteer of the Rostov office, has explained to the "Caucasian Knot" correspondent that in early 2017, he took an active part in the activities of the Navalny's office
        sup(data-content!=(lang == 'ru') ? "25&nbsp;декабря Центризбирком России отказал в&nbsp;регистрации группы избирателей, созданной для поддержки самовыдвижения кандидата на&nbsp;должность президента России Алексея Навального. Мотивировал ЦИК свое решение тем, что &laquo;Алексей Навальный приговорен к&nbsp;5&nbsp;годам лишения свободы условно с&nbsp;испытательным сроком на&nbsp;1&nbsp;год и&nbsp;5&nbsp;месяцев и&nbsp;штрафом в&nbsp;размере 500&nbsp;000&nbsp;рублей&raquo; и&nbsp;судимость не&nbsp;погашена, отмечается в&nbsp;постановлении на&nbsp;сайте ЦИК России." : 'On December 25, the Central Election Commission (CEC) of Russia refused to register a group of voters set up to support the self-nomination of a presidential candidate Alexei Navalny. The CEC motivated its decision by saying that “Alexei Navalny was sentenced to 5 years of conditional imprisonment with a probation period of one year and five months and a fine of 500,000 roubles,” and the conviction was not cancelled, said the resolution posted on the website of the CEC of Russia.') 2
        if (lang == 'ru')
          |в&nbsp;городе, но&nbsp;позднее перешел в&nbsp;группу поддержки Ксении Собчак.
        else
          |in the city, but later, he moved to a support group of Ksenia Sobchak.

      p
        q
          if (lang == 'ru')
            |У&nbsp;Навального есть проблемы с&nbsp;выдвижением. У&nbsp;Собчак такой проблемы нет. Она сделала заявление, что не&nbsp;допустит дробления демократического оппозиционного фронта, и&nbsp;мне это нравится
          else
            |Navalny has problems with his nomination. Sobchak does not have such a problem. She has made a statement that she will not allow a split of the democratic opposition front, and I like it

        cite
          if (lang == 'ru')
            |пояснил свой выбор Николай Кладовой.
          else
            |Nikolai Kladovoi explains his choice.

      p
        if (lang == 'ru')
          |Он&nbsp;также рассказал, что несколько лет оказывает правозащитную помощь местным жителям, и&nbsp;в&nbsp;штаб Ксении Собчак пришел с&nbsp;желанием продолжить эту работу.
        else
          |He has also noted that for several years, he has been providing human rights help to local residents and he joined the Ksenia Sobchak's office with the desire to continue his activities.

    section.b-section.b-section--thumb.b-section--thumb__small
      each size, src in sizes
        - attributessBlazy[src] = pathImg + "content/img-02-" + size + ".jpg?v=" + Date.now()
      .b-thumb-pic
        img.is-lazy-load(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", alt="")&attributes(attributessBlazy)
        .b-lazy-spinner
      .b-thumb-caption!=(lang == 'ru') ? "Волонтер ростовского штаба Ксении Собчак Николай Кладовой. Фото Вячеслава Ященко для &laquo;Кавказского узла&raquo;" : 'Nikolai Kladovoy, a volunteer of the Rostov-on-Don office of Ksenia Sobchak. Photo by Vyacheslav Yaschenko for the "Caucasian Knot"'

    section.b-section.b-section--text
      p
        q
          if (lang == 'ru')
            |К&nbsp;нам обращаются в&nbsp;основном погорельцы и&nbsp;граждане, пострадавшие от&nbsp;полицейского, чиновнического и&nbsp;судебного произвола
          else
            |We are mainly addressed by fire victims and citizens who suffered from police, official and judicial arbitrariness

        cite
          if (lang == 'ru')
            |пояснил Николай Кладовой, подчеркнув, что &laquo;безусловно верит&raquo; обещаниям Собчак.
          else
            |explains Nikolai Kladovoi. He has also emphasized that he "absolutely trusts" the Sobchak's promises.

      p
        q
          if (lang == 'ru')
            |Слежу за&nbsp;ее&nbsp;политической деятельностью с&nbsp;2012&nbsp;года. Я&nbsp;тогда наблюдал за&nbsp;ее&nbsp;политическим рождением: из&nbsp;блондинки в&nbsp;шоколаде она превратилась в&nbsp;субъект политики
          else
            |I have been watching her political activities since 2012. I then watched her political birth: out of a 'blonde in chocolate,' she turned into a politician subject

        cite
          if (lang == 'ru')
            |отметил Николай Кладовой.
          else
            |Nikolai Kladovoi notes.

      p
        if (lang == 'ru')
          |По&nbsp;его словам, родственники и&nbsp;друзья поддерживают его политические взгляды.
        else
          |According to him, his relatives and friends support his political views.

      p
        if (lang == 'ru')
          |В&nbsp;этом городе Ксению Собчак, в&nbsp;основном, поддерживают &laquo;политически умеренные граждане&raquo;, пояснила корреспонденту &laquo;Кавказского узла&raquo; глава ростовского штаба Собчак <b>Анастасия Шевченко</b>.
        else
          |In the city, Ksenia Sobchak is mostly supported by "politically moderate citizens," the "Caucasian Knot" correspondent was explained by <b>Anastasia Shevchenko</b>, the chief of the Sobchak's office in Rostov.

      p
        q
          if (lang == 'ru')
            |Приходят люди, которые раньше голосовали за&nbsp;Путина постоянно. Вполне обеспеченные, живут нормально. Услышав ее&nbsp;телевыступления, приходят (в&nbsp;штаб), говорят&nbsp;&mdash; мы&nbsp;готовы ее&nbsp;поддержать, поставить подписи. Это также студенты, не&nbsp;готовые выходить на&nbsp;несанкционированные акции протеста. Они видят, что что-то не&nbsp;так происходит в&nbsp;стране, но&nbsp;не&nbsp;готовы получать штрафы, быть выкинутыми из&nbsp;университета. И&nbsp;они приходят к&nbsp;нам помогать, хотят быть вовлеченными в&nbsp;этот процесс, потому что это будет совершенно новая выборная кампания
          else
            |People who earlier voted for Putin come regularly. They are quite well-off and they enjoy a normal life. They listen to her in TV shows, and they come (to offices). They say that they are ready to support her, to put their signatures. They are also students who do not want to come to unauthorized protest actions. They see that something is going wrong in the country, but they do not want to be fine or to be expelled from the university. And they come to help us. They want to be involved in the process, since it will be a completely new election campaign

        cite
          if (lang == 'ru')
            |заметила Анастасия Шевченко.
          else
            |noted Anastasia Shevchenko

    section.b-section.b-section--thumb.b-section--thumb__small
      each size, src in sizes
        - attributessBlazy[src] = pathImg + "content/img-03-" + size + ".jpg?v=" + Date.now()
      .b-thumb-pic
        img.is-lazy-load(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", alt="")&attributes(attributessBlazy)
        .b-lazy-spinner
      .b-thumb-caption!=(lang == 'ru') ? "Работа ростовского штаба Ксении Собчак (Анастасия Шевченко&nbsp;&mdash; справа). Фото Вячеслава Ященко для &laquo;Кавказского узла&raquo;" : 'Work of the Rostov-on-Don office of Ksenia Sobchak (Anastasia Shevchenko is on the right). Photo by Vyacheslav Yaschenko for the "Caucasian Knot"'

    section.b-section.b-section--text
      p
        if (lang == 'ru')
          |26-летняя сотрудница штаба Алиса Васильева, курирующая сбор подписей за&nbsp;выдвижение кандидата в&nbsp;ростовском штабе Собчак, рассказала корреспонденту &laquo;Кавказского узла&raquo; о&nbsp;том, что ранее читала лекции в&nbsp;штабе Навального.
        else
          |Alisa Vasilieva, a 26-year-old staff member of the Sobchak's office in Rostov, who is in charge for collection of signatures for the nomination of the candidate, has told the "Caucasian Knot" correspondent that earlier, she had been a lecture at a Navalny's office.

      p
        if (lang == 'ru')
          |Однако, по&nbsp;ее&nbsp;словам, ей&nbsp;не&nbsp;все нравится в&nbsp;деятельности Алексея Навального. &laquo;Он&nbsp;склонен к&nbsp;несанкционированным акциям. Не&nbsp;все люди, поддерживающие оппозиционные движения, готовы пойти на&nbsp;прямое нарушение закона&nbsp;&mdash; на&nbsp;аресты и&nbsp;штрафы. Вот такие люди и&nbsp;приходят в&nbsp;стан Собчак. Ее&nbsp;позиция мягче, чем у&nbsp;Навального, который строит из&nbsp;себя жертву, и&nbsp;тянет за&nbsp;собой сторонников. А&nbsp;жертвами многие быть не&nbsp;хотят&raquo;,&nbsp;&mdash; пояснила Васильева.
        else
          |However, according to the activist, she does not like everything in the Alexei Navalny's activities. "He tends to hold unauthorized actions. Not all people supporting opposition movements want to directly violate the law and to be subjected to arrests and fines. Such people join the Sobchak's camp. Her position is softer than that of Navalny, who pretends to be a victim and drags his followers behind him. And many people do not want to be victims," Alisa Vasilieva explained.

      p.b-note
        if (lang == 'ru')
          |Несмотря на&nbsp;штрафы за&nbsp;участие в&nbsp;несогласованных акциях протеста, негативное отношение к&nbsp;их&nbsp;деятельности родственников и&nbsp;друзей, молодые люди, поддерживающие Навального, надеются, что смогут &laquo;переломить ситуацию&raquo; и&nbsp;решить не&nbsp;только проблемы своих регионов, но&nbsp;и&nbsp;общероссийские проблемы. Многие сторонники оппозиционера из&nbsp;Астрахани, Волгограда, Краснодара, Ростова-на-Дону и&nbsp;Ставрополя, с&nbsp;которыми поговорил корреспондент &laquo;Кавказского узла&raquo;, готовы приехать на&nbsp;общероссийские акции Навального в&nbsp;Москве и&nbsp;других городах страны, отмечается в&nbsp;материале &laquo;Кавказского узла&raquo; &laquo;<a href="http://www.kavkaz-uzel.eu/articles/Volonteri_Navalnogo_piar_ili_politicheskaia_sila" target="_blank">Волонтеры Навального: проплаченный пиар или новая политическая сила?</a>&raquo;.
        else
          |Despite the fines for participating in unsanctioned protest actions, the negative attitude of their relatives and friends towards their activities, the young people supporting Navalny hope that they will be able to "turn the tide" and solve not only the problems of their regions, but also all-Russian problems. Many oppositionist's supporters from Astrakhan, Volgograd, Krasnodar, Rostov-on-Don, and Stavropol, to whom the "Caucasian Knot" correspondent talked, are willing to attend the All-Russian actions of Navalny in Moscow and other cities of the country, the "Caucasian Knot" notes it its material <a href="http://www.eng.kavkaz-uzel.eu/articles/Navalny_Volunteers_PR_campaigns_or_political_power" target="_blank">"Navalny's volunteers: prepaid PR steps or new political force?"</a>

    section.b-section.b-section--text
      h3.b-title!=(lang == 'ru') ? "Хороша для политического старта" : "Good for a political start"

      p
        em
          if (lang == 'ru')
            |Некоторые волонтеры рассказали &laquo;Кавказскому узлу&raquo;, что рассматривают работу в&nbsp;штабе Ксении Собчак в&nbsp;Ростове-на-Дону как опыт в&nbsp;политике и&nbsp;не&nbsp;видят особого различия во&nbsp;взглядах Собчак и&nbsp;Навального.
          else
            |Some volunteers have told the "Caucasian Knot" that they treat their activities at the Ksenia Sobchak's office in Rostov-on-Don as an experience in politics and do not see a big difference between the views of Sobchak and Navalny.

      p
        if (lang == 'ru')
          |Волонтер штаба Собчак в&nbsp;Ростове-на-Дону 19-летний студент туристического колледжа <b>Максим Попов</b> заявил, что чувствует ответственность за&nbsp;ситуацию в&nbsp;стране и&nbsp;хочет внести свой вклад в&nbsp;развитие российской демократии. При этом молодой человек не&nbsp;смог объяснить, в&nbsp;чем&nbsp;же разница между позициями Алексея Навального и&nbsp;Ксении Собчак.
        else
          |<b>Maxim Popov</b>, a 19-year-old student of a tourism college, a volunteer of the Sobchak's office in Rostov-on-Don, says he feels his responsibility for the situation in the country and wants to contribute to the development of the Russian democracy. Meanwhile, the young man could not explain the difference between the positions of Alexei Navalny and Ksenia Sobchak.

    section.b-section.b-section--thumb.b-section--thumb__small
      each size, src in sizes
        - attributessBlazy[src] = pathImg + "content/img-05-" + size + ".jpg?v=" + Date.now()
      .b-thumb-pic
        img.is-lazy-load(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", alt="")&attributes(attributessBlazy)
        .b-lazy-spinner
      .b-thumb-caption!=(lang == 'ru') ? "Волонтер ростовского штаба Ксении Собчак Максим Попов (на&nbsp;переднем плане). Фото Вячеслава Ященко для &laquo;Кавказского узла&raquo;" : 'Maxim Popov, a volunteer of the Rostov-on-Don office of Ksenia Sobchak (in the forefront). Photo by Vyacheslav Yaschenko for the "Caucasian Knot"'

    section.b-section.b-section--text
      p
        q
          if (lang == 'ru')
            |Я&nbsp;вижу в&nbsp;ней (в&nbsp;Ксении Собчак) лидера. Если она не&nbsp;станет президентом, то&nbsp;сможет занять какой-нибудь серьезный пост в&nbsp;правительстве страны. А&nbsp;в&nbsp;штабе, я&nbsp;думаю, смогу приобрести опыт политической и&nbsp;предвыборной работы, и&nbsp;соответствующие знания
          else
            |I treat her (Ksenia Sobchak) as a leader. If she does not become the president, she can be appointed to some serious position in the government of the country. And I believe that by working for her office, I will be able to gain experience and relevant knowledge in political and pre-election activities

        cite
          if (lang == 'ru')
            |отметил волонтер.
          else
            |the volunteer has noted.

      p
        if (lang == 'ru')
          |По&nbsp;словам Максима Попова, он&nbsp;не&nbsp;встретил поддержки у&nbsp;своих родственников.
        else
          |According to Maxim Popov, he did not meet support from his relatives.

      p
        q
          if (lang == 'ru')
            |Это не&nbsp;тот выбор, сказали мои родственники. Друзья к&nbsp;моему решению отнеслись доброжелательно, но&nbsp;волонтерами быть отказались
          else
            |This is not the choice, my relatives said. Friends kindly met my decision, but refused to become volunteers

        cite
          if (lang == 'ru')
            |рассказал Максим Попов.
          else
            |said Maxim Popov

      p
        if (lang == 'ru')
          |Еще один волонтер Собчак в&nbsp;Ростове-на-Дону девятнадцатилетний студент Южного федерального университета <b>Владимир Горковенко</b> заявил, что он&nbsp;как студент факультета PR-менеджмента интересуется политикой с&nbsp;научной точки зрения.
        else
          |<b>Vladimir Gorkovenko</b>, another volunteer of the Sobchak's office in Rostov-on-Don, a 19-year-old student of the Southern Federal University (SFU), has noted that being a student of the PR-management faculty, he is interested in politics from a scientific point of view.

      p
        q
          if (lang == 'ru')
            |Был в&nbsp;штабе Навального летом. Сейчас я&nbsp;волонтер в&nbsp;штабе Собчак. Не&nbsp;вижу в&nbsp;этом сидении на&nbsp;двух стульях ничего страшного. Я&nbsp;и&nbsp;в&nbsp;штабах партий &laquo;Яблоко&raquo; и&nbsp;&laquo;Единая Россия&raquo; побывал, но&nbsp;там нам, похоже, не&nbsp;рады. В&nbsp;штабе Собчак у&nbsp;меня много друзей, поэтому я&nbsp;в&nbsp;основном там. Да. Личностные отношения для меня играют большую роль, чем какие-то политические пристрастия
          else
            |In summer, I worked for the Navalny's office. Now I am a volunteer of the Sobchak's office. I do see nothing confusing in such 'sitting on two chairs.' I also visited offices of the 'Yabloko' and 'Edinaya Rossiya' (United Russia) Parties, but it seems they are not happy to see us there. I have a lot of friends at the Sobchak's office and that is why I work primarily there. Indeed. For me, personal relations play a bigger role than any political views

        cite
          if (lang == 'ru')
            |заявил Владимир Горковенко.
          else
            |stated Vladimir Gorkovenko.

    section.b-section.b-section--thumb.b-section--thumb__small
      each size, src in sizes
        - attributessBlazy[src] = pathImg + "content/img-06-" + size + ".jpg?v=" + Date.now()
      .b-thumb-pic
        img.is-lazy-load(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", alt="")&attributes(attributessBlazy)
        .b-lazy-spinner
      .b-thumb-caption!=(lang == 'ru') ? "Волонтер ростовского штаба Владимир Горковенко. Фото Вячеслава Ященко для &laquo;Кавказского узла&raquo;" : 'Vladimir Gorkovenko, a volunteer of the Rostov-on-Don office. Photo by Vyacheslav Yaschenko for the "Caucasian Knot"'

    section.b-section.b-section--text
      p
        if (lang == 'ru')
          |По словам Горковенко, мнение родителей о своей деятельности он учитывает, но не принимает слишком близко к сердцу.
        else
          |According to Vladimir Gorkovenko, he takes into account his parents' opinion about his activities, but he does not take it too close to his heart.

      p
        q
          if (lang == 'ru')
            |Мама в&nbsp;курсе моей волонтерской деятельности. Но&nbsp;я&nbsp;считаю себя вправе не&nbsp;рассказывать ей&nbsp;подробности моей работы здесь. С&nbsp;отцом мы&nbsp;общаемся о&nbsp;политике. Он&nbsp;имеет оппозиционные взгляды, но&nbsp;верит в&nbsp;теории заговора. Поэтому общаюсь с&nbsp;ними на&nbsp;эту тему редко
          else
            |My mother is aware of my volunteer activity. However, I believe I cannot tell her about the details of my work here. I talk to my father about politics. He has opposition views, but he believes in conspiracy theories. Therefore, I rarely talk to him on the subject

        cite
          if (lang == 'ru')
            |сказал Владимир Горковенко.
          else
            |said Vladimir Gorkovenko.

      p
        if (lang == 'ru')
          |Волонтер штаба Собчак в&nbsp;Ростове-на-Дону Андрей попросил не&nbsp;называть его фамилию и&nbsp;место учебы, заявив, что раньше не&nbsp;принимал участие в&nbsp;политической жизни.
        else
          |Andrei, a volunteer of the Sobchak's office in Rostov-on-Don, has asked not to mention his surname and place of study. He has said that earlier, he had never been engaged in political life.

      p
        q
          if (lang == 'ru')
            |Навальному я&nbsp;симпатизировал, но&nbsp;в&nbsp;работе его штаба участие не&nbsp;принимал. С&nbsp;появлением Собчак на&nbsp;политическом горизонте я&nbsp;стал следить за&nbsp;политической жизнью в&nbsp;тех моментах, которые она затрагивала. Я&nbsp;сейчас в&nbsp;стадии формирования своей политической позиции. Не&nbsp;хочу быть пассивным наблюдателем. Хочу наработать какой-то опыт политического волонтерства в&nbsp;штабе. Думаю, это будет полезно и&nbsp;мне, и&nbsp;нашему гражданскому обществу
          else
            |I sympathized with Navalny, but I did not take part in the activities of his office. When Sobchak appeared on the political horizon, I began to follow the political news in which she had been involved. I am now at the stage to form my political position. I do not want to be a passive observer. I want to gain some experience of political volunteering at the office. I believe it will be useful to me and our civil society

        cite
          if (lang == 'ru')
            |заявил Андрей.
          else
            |said Andrei.

    section.b-section.b-section--thumb.b-section--thumb__small
      each size, src in sizes
        - attributessBlazy[src] = pathImg + "content/img-07-" + size + ".jpg?v=" + Date.now()
      .b-thumb-pic
        img.is-lazy-load(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", alt="")&attributes(attributessBlazy)
        .b-lazy-spinner
      .b-thumb-caption!=(lang == 'ru') ? "Волонтер ростовского штаба Ксении Собчак Андрей. Фото Вячеслава Ященко для &laquo;Кавказского узла&raquo;" : 'Andrei, a volunteer of the Rostov-on-Don office of Ksenia Sobchak. Photo by Vyacheslav Yaschenko for the "Caucasian Knot"'

    section.b-section.b-section--text
      p
        if (lang == 'ru')
          |При этом &laquo;собчаковцы&raquo; сталкиваются не&nbsp;только с&nbsp;поддержкой. За&nbsp;месяц после открытия штаб сменил три адреса, так как хозяева помещений отказывают в&nbsp;аренде. &laquo;Боятся. Повредят окна или двери, или сожгут (противники Собчак. &mdash;&nbsp;прим. &bdquo;Кавказского узла&ldquo;). В&nbsp;общем, что только не&nbsp;говорили. Это помещение мы&nbsp;нашли только с&nbsp;третьего раза&raquo;,&nbsp;&mdash; рассказала корреспонденту &laquo;Кавказского узла&raquo; <b>Анастасия Шевченко</b>, отметив, что силовики и&nbsp;представители властей уже несколько раз приходили с&nbsp;проверками.
        else
          |Meanwhile, volunteers of the Sobchak's office meet not only support. Within a month after its opening, the office changed three addresses, since owners of the premises refused the office in rent. "They are afraid that windows or doors may be damaged or burnt (by Sobchak's opponents, note of the 'Caucasian Knot'). In general, we heard a lot. We found the premises only from the third time," <b>Anastasia Shevchenko</b> told the "Caucasian Knot" correspondent. She has noted that law enforcers and public officials have already visited the office several times to inspect it.

      p
        if (lang == 'ru')
          |По&nbsp;словам начальника штаба, с&nbsp;момента открытия на&nbsp;сайте Собчак &laquo;Кандидат против всех&raquo; зарегистрировались более 1900 жителей Ростовской области. Во&nbsp;время волонтерского сбора 20&nbsp;декабря более 50&nbsp;человек захотели участвовать в&nbsp;работе штаба, подчеркнула она.
        else
          |According to the office chief, since its opening, more than 1900 residents of the Rostov Region have been registered at the Sobchak's website "Candidate Against All". During the volunteer gathering held on December 20, more than 50 people expressed their desire to participate in the activities of the office, reported the chief of the Sobchak's office in Rostov.

    section.b-section.b-section--text
      h3.b-title!=(lang == 'ru') ? "Минводы и&nbsp;Сочи: штабов нет, но&nbsp;очень хочется" : "Mineralnye Vody and Sochi: no offices, but wanted"

      p
        em
          if (lang == 'ru')
            |В&nbsp;Ставропольском и&nbsp;Краснодарском краях штабов Собчак пока нет, но&nbsp;созданы волонтерские группы, готовые их&nbsp;открыть. По&nbsp;словам активистов, они ведут переговоры с&nbsp;московским штабом.
          else
            |There are no Sobchak's offices yet in the Stavropol and Krasnodar Territories. However, there are groups of volunteers willing to open offices. According to the activists, the negotiations with the Moscow office are underway.

      p
        em
          if (lang == 'ru')
            |С&nbsp;именем и&nbsp;программой Ксении Собчак ее&nbsp;сторонники в&nbsp;этих регионах связывают решение проблем здравоохранения, безработицы, ветхого и&nbsp;аварийного жилья, дороговизны жизни. По&nbsp;мнению членов инициативных групп, Собчак, благодаря своей медийности и&nbsp;знакомствам с&nbsp;руководством страны, может способствовать быстрому изменению сложившейся ситуации.
          else
            |In these regions, supporters of Ksenia Sobchak associate with her name and programme the solution of health problems, problems of unemployment, dilapidated and emergency housing, and high cost of living. According to members of the initiative groups, thanks to her publicity and acquaintances with the country's leaders, Ksenia Sobchak can contribute to a rapid change in the current situation.

    section.b-section.b-section--text
      h3.b-title!=(lang == 'ru') ? "Жители Сочи на чужом празднике жизни" : "Residents of Sochi on a strangers' feast of life"

      p
        if (lang == 'ru')
          |Члены инициативной группы в&nbsp;Сочи получили от&nbsp;ее&nbsp;московского штаба принципиальное согласие на&nbsp;создание предвыборного штаба, заявил лидер группы <b>Александр Бобошин</b>.
        else
          |In Sochi, members of the initiative group got from the Moscow office the principle consent to the creation of a pre-election office, stated <b>Alexander Boboshin</b>, a group leader.

    section.b-section.b-section--thumb.b-section--thumb__small
      each size, src in sizes
        - attributessBlazy[src] = pathImg + "content/img-08-" + size + ".jpg?v=" + Date.now()
      .b-thumb-pic
        img.is-lazy-load(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", alt="")&attributes(attributessBlazy)
        .b-lazy-spinner
      .b-thumb-caption!=(lang == 'ru') ? "Лидер сочинской инициативной группы Александр Бобошин. Фото Вячеслава Ященко для &laquo;Кавказского узла&raquo;" : 'Alexander Boboshin, the leader of the Sochi initiative group. Photo by Vyacheslav Yaschenko for the "Caucasian Knot"'

    section.b-section.b-section--text
      p
        if (lang == 'ru')
          |На&nbsp;предвыборном сайте Собчак зарегистрировано более 1700 жителей Краснодарского края, из&nbsp;них не&nbsp;менее 600&nbsp;сочинцев, утверждает Бобошин.
        else
          |According to him, the pre-election Sobchak's website registered more than 1700 residents of the Krasnodar Territory, including at least 600 Sochi residents.

      p
        if (lang == 'ru')
          |По&nbsp;словам Бобошина, среди его знакомых многие работают в&nbsp;московском штабе Ксении Собчак, что стало определяющей причиной в&nbsp;его решении включится в&nbsp;предвыборную работу на&nbsp;стороне этого политика.
        else
          |Alexander Boboshin notes that many of his acquaintances work for the Moscow office of Ksenia Sobchak, and that fact has become the key reason for his decision to join the pre-election activities on the Sobchak's side.

      p
        q
          if (lang == 'ru')
            |Я&nbsp;заинтересовался проектом. А&nbsp;когда штаб возглавил Игорь Малашенко, я&nbsp;понял, что хочу действенно им&nbsp;помочь. Встретился с&nbsp;ними, договорились открыть в&nbsp;Сочи штаб. Я&nbsp;вижу форс-мажоры и&nbsp;сложности этого экспресс-проекта
          else
            |I became interested in the project. And when the office was headed by Igor Malashenko, I realized that I wanted to help them in an effective way. I met them, and we agreed to open an office in Sochi. I realize the force majeure and the complexity of this express project

        cite
          if (lang == 'ru')
            |сказал Александр Бобошин.
          else
            |said Alexander Boboshin.

      p
        if (lang == 'ru')
          |При этом он&nbsp;заявил, что &laquo;уважает выбор Собчак&raquo;. &laquo;Хорошо, что у&nbsp;нее хватило амбиций и&nbsp;силы воли, чтобы выйти на&nbsp;этот политический подиум. И&nbsp;я&nbsp;ее&nbsp;за&nbsp;это уважаю и&nbsp;готов ей&nbsp;помочь&raquo;,&nbsp;&mdash; сказал лидер сочинской инициативной группы.
        else
          |Meanwhile, he has noted he "respects the Sobchak's choice." "That's good that she had enough ambition and will power to enter the political podium. And I respect her for that and I am willing to help her," said the leader of the Sochi initiative group.

      p
        if (lang == 'ru')
          |Член инициативной группы в&nbsp;Сочи <b>Елена Бокачева</b> живет в&nbsp;городе 26&nbsp;лет. Она предприниматель, кандидат экономических наук. Женщина также готова часть своего личного времени посвятить работе в&nbsp;штабе Ксении Собчак.
        else
          |<b>Elena Bokacheva</b>, a member of the initiative group in Sochi, has been living in the city for 26 years already. She is an entrepreneur, Candidate of Economic Sciences. The woman is also willing to devote part of her personal time to work for the Sobchak's office.

      p
        q
          if (lang == 'ru')
            |Как только она заявила о&nbsp;своем решении принять участие в&nbsp;президентской гонке, мне ее&nbsp;идея сразу понравилась. Я&nbsp;наблюдала за&nbsp;ее&nbsp;работой, за&nbsp;ее&nbsp;проектами. У&nbsp;нее есть соответствующее образование. Ксения&nbsp;&mdash; интересная медийная фигура. У&nbsp;нее есть все основания, чтобы стать президентом
          else
            |As soon as she announced her decision to take part in the run for presidency, I immediately liked her idea. I watched her activities and her projects. She has a proper education. Ksenia is an interesting public figure. She has every reason to become the president

        cite
          if (lang == 'ru')
            |подчеркнула Елена Бокачева.
          else
            |noted Elena Bokacheva.

    section.b-section.b-section--thumb
      each size, src in sizes
        - attributessBlazy[src] = pathImg + "content/img-09-" + size + ".jpg?v=" + Date.now()
      .b-thumb-pic.is-lazy-load.is-lazy-load--bg&attributes(attributessBlazy)
      .b-thumb-caption!=(lang == 'ru') ? "Член сочинской инициативной группы Елена Бокачева. Фото Вячеслава Ященко для &laquo;Кавказского узла&raquo;" : 'Elena Bokacheva, a member of the Sochi initiative group. Photo by Vyacheslav Yaschenko for the "Caucasian Knot"'

    section.b-section.b-section--text
      p
        if (lang == 'ru')
          |По&nbsp;мнению Елены Бокачевой, Ксения Собчак с&nbsp;ее&nbsp;авторитетом и&nbsp;возможностями могла&nbsp;бы помочь с&nbsp;решением проблем Сочи, таких как безработица, сезонность работ, жилищно-коммунальные проблемы, дороговизна.
        else
          |According to Elena Bokacheva, Ksenia Sobchak with her power and capabilities would be able to help with solving the Sochi's problems, including the problems of unemployment, seasonality of work, housing and communal problems, and high cost of living.

      p
        q
          if (lang == 'ru')
            |Местные жители как&nbsp;бы находятся на&nbsp;чужом празднике жизни. Наш город должен быть не&nbsp;только олимпийским центром и&nbsp;второй столицей страны. В&nbsp;нем должно быть комфортно и&nbsp;простым людям&nbsp;&mdash; его жителям. Думаю, Ксения Собчак сможет обратить внимание властей на&nbsp;сочинские проблемы
          else
            |It seems local residents visit a strangers' feast of life. Our city should be not only the Olympic centre and the second capital of the country. It should also be comfortable for ordinary people, its residents. I believe Ksenia Sobchak will be able to draw the authorities' attention the problems in Sochi

        cite
          if (lang == 'ru')
            |сказала Елена Бокачева.
          else
            |said Elena Bokacheva.

    section.b-section.b-section--text
      h3.b-title!=(lang == 'ru') ? "Минеральные Воды: старые дома, нет нормальной поликлиники и&nbsp;работы" : "Mineralnye Vody: old houses, no normal polyclinic and job"

      p
        if (lang == 'ru')
          |В&nbsp;Минеральных Водах также есть инициативная группа из&nbsp;10&nbsp;человек, которые предложили Ксении Собчак свою помощь в&nbsp;организации предвыборного штаба. Однако переговоры с&nbsp;москвичами пока не&nbsp;увенчались успехом&nbsp;&mdash; ответ не&nbsp;получен.
        else
          |In Mineralnye Vody, there is also an initiative group of 10 people who offered Ksenia Sobchak their help in organizing a pre-election office. However, negotiations with the Moscow office have not yet succeeded, and no answer has been received.

      p
        if (lang == 'ru')
          |Лидер минераловодской инициативной группы <b>Игорь Манаенко</b>&nbsp;&mdash; бывший военный летчик, возглавляет юридическую фирму. Одной из&nbsp;главных проблем города считает отсутствие диалога местной власти с&nbsp;обществом.
        else
          |<b>Igor Manaenko</b>, a former military pilot, the leader of the initiative group in Mineralnye Vody, heads a law company. He sees one of the main problems of the city is the lack of dialogue between the local authorities and society.

    section.b-section.b-section--thumb.b-section--thumb__small
      each size, src in sizes
        - attributessBlazy[src] = pathImg + "content/img-10-" + size + ".jpg?v=" + Date.now()
      .b-thumb-pic
        img.is-lazy-load(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", alt="")&attributes(attributessBlazy)
        .b-lazy-spinner
      .b-thumb-caption!=(lang == 'ru') ? "Лидер инициативной группы в&nbsp;Минеральных Водах Игорь Манаенко. Фото Вячеслава Ященко для &laquo;Кавказского узла&raquo;" : 'Igor Manaenko, the leader of the initiative group in Mineralnye Vody. Photo by Vyacheslav Yaschenko for the "Caucasian Knot"'

    section.b-section.b-section--text
      p
        q
          if (lang == 'ru')
            |Нет опытного хозяйственника у&nbsp;нас. Хозяина города нет
          else
            |There is no experienced manager in our place. There is no a host in the city

        cite
          if (lang == 'ru')
            |заявил корреспонденту &laquo;Кавказского узла&raquo; Игорь Манаенко, отметив, что молодежь уезжает из&nbsp;города.
          else
            |Igor Manaenko told the "Caucasian Knot" correspondent. The activist has also noted that the young people leave the city.

      p
        if (lang == 'ru')
          |Он&nbsp;считает, что Ксения Собчак могла&nbsp;бы исправить ситуацию, и&nbsp;власть в&nbsp;Минераловодском городском округе могла&nbsp;бы &laquo;оздоровиться&raquo;.
        else
          |He believes that Ksenia Sobchak would be able to remedy the situation, and the authorities in the Mineralnye Vody urban district could "get better".

      p
        q
          if (lang == 'ru')
            |Мне нравится ее&nbsp;подход, ее&nbsp;политические амбиции. На&nbsp;Руси давно не&nbsp;было женщины-руководителя
          else
            |I like her approach, her political ambitions. For a long time, there has not been a female leader in Russia

        cite
          if (lang == 'ru')
            |считает Манаенко.
          else
            |Igor Manaenko believes.

      p
        if (lang == 'ru')
          |Симпатия к&nbsp;Ксении Собчак возникла во&nbsp;время трансляции в&nbsp;телепередачах разговора телеведущей с&nbsp;президентом Владимиром Путиным, заявила корреспонденту &laquo;Кавказского узла&raquo; член инициативной группы в&nbsp;Минеральных Водах гирудотерапевт, биохимик <b>Виктория Манаенко</b>.
        else
          |<b>Victoria Manaenko</b>, a hirudotherapist and a biochemist a member of the initiative group in Mineralnye Vody, told the "Caucasian Knot" correspondent that she began to feel sympathy for Ksenia Sobchak during a TV show of a talk with President Vladimir Putin.

    section.b-section.b-section--thumb.b-section--thumb__small
      each size, src in sizes
        - attributessBlazy[src] = pathImg + "content/img-11-" + size + ".jpg?v=" + Date.now()
      .b-thumb-pic
        img.is-lazy-load(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", alt="")&attributes(attributessBlazy)
        .b-lazy-spinner
      .b-thumb-caption!=(lang == 'ru') ? "Член инициативной группы в&nbsp;Минеральных Водах Виктория Манаенко. Фото Вячеслава Ященко для &laquo;Кавказского узла&raquo;" : 'Victoria Manaenko, a member of the initiative group in Mineralnye Vody. Photo by Vyacheslav Yaschenko for the "Caucasian Knot"'

    section.b-section.b-section--text
      p
        q
          if (lang == 'ru')
            |Задавая ему острые прямые вопросы, Ксения озвучила правду, которую хочет услышать наш народ. А&nbsp;правда эта для наших властей крайне неприятная. Поэтому я&nbsp;и&nbsp;решила не&nbsp;просто ее&nbsp;поддержать на&nbsp;выборах, но&nbsp;и&nbsp;помочь в&nbsp;ее&nbsp;предвыборной кампании
          else
            |By asking him sharp direct questions, Ksenia voiced the truth that our people want to hear. However, this truth is extremely unpleasant for our authorities. That is why I decided not just to support Ksenia at the elections, but also to help in her pre-election campaign

        cite
          if (lang == 'ru')
            |пояснила она.
          else
            |Victoria Manaenko explained.

      p
        if (lang == 'ru')
          |Виктория Манаенко назвала основную проблему, которая, по&nbsp;ее&nbsp;мнению, в&nbsp;первую очередь должна быть решена будущим президентом в&nbsp;ее&nbsp;городе&nbsp;&mdash; состояние детского здравоохранения.
        else
          |She has also mentioned the main problem, which, according to her, first of all should be solved by the future president in her city: the state of children's health care.

      p
        q
          if (lang == 'ru')
            |Новую городскую детскую поликлинику второй год открыть не&nbsp;могут. В&nbsp;старой поликлинике 1947 года постройки&nbsp;&mdash; полы проваливаются. Врачей узких специальностей крайне мало. Никто за&nbsp;низкие зарплаты не&nbsp;хочет тут работать. Уезжают в&nbsp;другие регионы. Работают старые врачи. По&nbsp;полису лечиться невозможно. Очереди на&nbsp;месяцы вперед. Нужно стимулировать врачей&nbsp;&mdash; повышать им&nbsp;зарплаты, решать их&nbsp;жилищные проблемы
          else
            |This is the second year during which they cannot open a new children's polyclinic in the city. The floors fail in the old polyclinic built in 1947. There is a shortage of specialists. Nobody wants to work here for low salaries. They leave for other regions. Old doctors still work. Our medical insurance policies cannot be used. There are lines for months ahead. It is necessary to stimulate doctors: to raise their salaries and solve their housing problems

        cite
          if (lang == 'ru')
            |сказала Виктория Манаенко.
          else
            |Victoria Manaenko said.

    section.b-section.b-section--thumb
      each size, src in sizes
        - attributessBlazy[src] = pathImg + "content/img-12-" + size + ".jpg?v=" + Date.now()
      .b-thumb-pic.is-lazy-load.is-lazy-load--bg&attributes(attributessBlazy)
      .b-thumb-caption!=(lang == 'ru') ? "Детская городская поликлиника Минвод (построена в&nbsp;1947&nbsp;году). Фото Вячеслава Ященко для &laquo;Кавказского узла&raquo;" : 'Children City Polyclinic in Mineralnye Vody (built in 1947). Photo by Vyacheslav Yaschenko for the "Caucasian Knot"'

    section.b-section.b-section--text
      p
        if (lang == 'ru')
          |Сторонник Собчак 43-летний <b>Сергей Масленников</b> заявил, что второй месяц пытается найти работу в&nbsp;Минеральных Водах. По&nbsp;его словам, вакансии есть, но&nbsp;зарплаты предлагают ниже 18&nbsp;тысяч рублей в&nbsp;месяц.
        else
          |<b>Sergey Maslennikov</b>, a 43-year-old Sobchak's supporter, has said that he spend the second month in an attempt to find a job in Mineralnye Vody. According to him, there are vacancies, but salaries are offered below 18,000 roubles a month.

      p
        if (lang == 'ru')
          |В&nbsp;Минераловодском городском округе одной из&nbsp;острых проблем является &laquo;скрытая&raquo; безработица
        else
          |In the Mineralnye Vody urban district, one of the acute problems is 'hidden' unemployment
        sup(data-content!=(lang == 'ru') ? "По&nbsp;данным Центра занятости населения Минераловодского округа, в&nbsp;начале 2017 года уровень регистрируемой безработицы здесь ниже общероссийского. К&nbsp;7&nbsp;сентября 2017 года он&nbsp;достиг отметки в&nbsp;0,61%, тогда как по&nbsp;России уровень безработицы составляет 1,2%. Всего в&nbsp;банке данных службы занятости округа 5304&nbsp;вакансии, отмечается в&nbsp;сообщении от&nbsp;7&nbsp;сентября на&nbsp;сайте Центра занятости населения Минераловодского округа." : "According to the Employment Centre of the Mineralnye Vody District, in early 2017, the level of registered unemployment was lower than the all-Russian one. By September 7, 2017, it reached the level of 0.61%, while in Russia the unemployment rate is 1.2%. A total of 5304 vacancies are available in the data bank of the above Employment Centre, according to the report, posted on the Centre's website on September 7 report.") 3
        if (lang == 'ru')
          |. Зарплаты низкие&nbsp;&mdash; подработок в&nbsp;городе нет, говорит&nbsp;он.
        else
          |. Salaries are low, and there are possibilities for no sub-jobs in the city, Sergey Maslennikov says.

      p
        q
          if (lang == 'ru')
            |Посмотрел выступления Собчак. Подумал, что она сможет нашу проблему решить. Мудрый человек. Общается с&nbsp;сильными мира сего. Донесет до&nbsp;руководства страны нашу беду. Не&nbsp;на&nbsp;кого больше надеяться
          else
            |I watched Sobchak's speeches. I believe she will be able to solve our problem. She is a wise person. She communicates with the powerful people of the world. He will bring our misfortune to the country's leaders. There is no one else to rely on

        cite
          if (lang == 'ru')
            |пояснил Масленников.
          else
            |Sergey Maslennikov explains.

    section.b-section.b-section--thumb.b-section--thumb__small
      each size, src in sizes
        - attributessBlazy[src] = pathImg + "content/img-13-" + size + ".jpg?v=" + Date.now()
      .b-thumb-pic
        img.is-lazy-load(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", alt="")&attributes(attributessBlazy)
        .b-lazy-spinner
      .b-thumb-caption!=(lang == 'ru') ? "Член инициативной группы в&nbsp;Минеральных Водах Сергей Масленников. Фото Вячеслава Ященко для &laquo;Кавказского узла&raquo;" : 'Sergey Maslennikov, a member of the initiative group in Mineralnye Vody. Photo by Vyacheslav Yaschenko for the "Caucasian Knot"'

    section.b-section.b-section--text
      p
        q
          if (lang == 'ru')
            |Поддерживаю Ксению Собчак. Думаю, она сможет решить наши проблемы. Например, проблема ветхости и&nbsp;аварийности нашего жилого фонда. Не&nbsp;понятно, как распределяются средства программы по&nbsp;капитальному ремонту. Но&nbsp;деньги в&nbsp;дома явно не&nbsp;доходят
          else
            |I support Ksenia Sobchak. I believe she will be able to solve our problems, for example, the problem of dilapidation and emergency of our houses. It is not clear how the capital repair programme funds are distributed. Meanwhile, the money clearly does not reach the house

        cite
          if (lang == 'ru')
            |заявил член инициативной группы, 30-летний руководитель одной из&nbsp;управляющих компаний города Минеральные Воды <b>Виталий Липихин</b>.
          else
            |said Vitaly Lipikhin, a member of the initiative group, a 30-year-old manager of one of the management companies in the city of Mineralnye Vody.

      p
        if (lang == 'ru')
          |По&nbsp;словам Липихина, в&nbsp;городе много старых разрушающихся домов.
        else
          |According to Vitaly Lipikhin, there are a lot of old dilapidated houses in the city.

      p
        q
          if (lang == 'ru')
            |Проблему нужно кардинально решать. Управляющие компании бессильны из-за недостатка средств. А&nbsp;жители даже на&nbsp;экспертизу технического состояния своих домов не&nbsp;могут деньги собрать&nbsp;&mdash; до&nbsp;100 тысяч рублей стоимость такой экспертизы доходит. Вот и&nbsp;получается замкнутый круг. Надеюсь, Собчак сможет разрешить этот вопрос
          else
            |The problem needs to be solved drastically. The management companies can do nothing because of shortage of funds. And tenants are not even able to collect money for examining the technical condition of their houses, since the cost of such an examination can reach up to 100,000 roubles. So, there is a vicious circle. I hope Sobchak will be able to resolve the issue

        cite
          if (lang == 'ru')
            |сказал Виталий Липихин.
          else
            |Vitaly Lipikhin said.

    section.b-section.b-section--thumb.b-section--thumb__small
      each size, src in sizes
        - attributessBlazy[src] = pathImg + "content/img-14-" + size + ".jpg?v=" + Date.now()
      .b-thumb-pic
        img.is-lazy-load(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", alt="")&attributes(attributessBlazy)
        .b-lazy-spinner
      .b-thumb-caption!=(lang == 'ru') ? "Член инициативной группы в&nbsp;Минеральных Водах Виталий Липихин. Фото Вячеслава Ященко для &laquo;Кавказского узла&raquo;" : 'Vitaly Lipikhin, a member of the initiative group in Mineralnye Vody. Photo by Vyacheslav Yaschenko for the "Caucasian Knot"'

    section.b-section.b-section--text
      p
        if (lang == 'ru')
          |При этом, согласно ответу на&nbsp;запрос &laquo;Кавказского узла&raquo; в&nbsp;пресс-службу администрации Минеральных Вод, программа капитального ремонта существует, и&nbsp;по&nbsp;ней идут расходы. В&nbsp;2015-2016 годах на&nbsp;капремонт многоквартирных домов потратили более 50&nbsp;млн рублей. Были отремонтированы более 22804 квадратных метров, на&nbsp;которых живут 828&nbsp;человек.
        else
          |Meanwhile, according to a response to an inquiry of the "Caucasian Knot" to the press service of the Mineralnye Vody administration, there is a capital repair programme, and the money is allocated under it. In 2015-2016, more than 50 million roubles were spent for capital repair of apartment buildings. More than 22,804 square meters are renovated, which accommodate 828 people live.

    section.b-section.b-section--text
      h3.b-title!=(lang == 'ru') ? "Работать за&nbsp;деньги и&nbsp;без них" : "To work for money and for nothing"

      p
        em
          if (lang == 'ru')
            |Любая работа должна быть оплачена, уверен член инициативной группы в&nbsp;Сочи Дан Гусельников. Он&nbsp;отметил, что не&nbsp;намерен работать в&nbsp;штабе Собчак бесплатно. При этом глава ростовского штаба заявила, что руководит штабом Собчак &laquo;абсолютно бескорыстно&raquo;.
          else
            |Any work must be paid for, believes Dan Guselnikov, a member of the initiative group in Sochi. He has noted he does not intend to work at the Sobchak's office for free. Meanwhile, the chief of the Rostov office has said she heads the Sobchak's office headquarters "absolutely for nothing".

      p
        if (lang == 'ru')
          |Дан Гусельников, 39-летний предприниматель, юрист, многодетный отец и&nbsp;член инициативной группы в&nbsp;Сочи, добивающейся открытия штаба в&nbsp;городе, четко высказал корреспонденту &laquo;Кавказского узла&raquo; свою позицию по&nbsp;поводу работы в&nbsp;штабе Собчак&nbsp;&mdash; бесплатно работать не&nbsp;будет.
        else
          |Dan Guselnikov, a 39-year-old entrepreneur, a lawyer, a father of a family with many children, and a member of the initiative group in Sochi, seeks to open an office in the city. He has clearly explained to the "Caucasian Knot" correspondent his position regarding his work at the Sobchak's office: he will not work for free.

    section.b-section.b-section--thumb.b-section--thumb__small
      each size, src in sizes
        - attributessBlazy[src] = pathImg + "content/img-15-" + size + ".jpg?v=" + Date.now()
      .b-thumb-pic
        img.is-lazy-load(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", alt="")&attributes(attributessBlazy)
        .b-lazy-spinner
      .b-thumb-caption!=(lang == 'ru') ? "Член сочинской инициативной группы Дан Гусельников. Фото Вячеслава Ященко для &laquo;Кавказского узла&raquo;" : 'Dan Guselnikov, a member of the Sochi initiative group. Photo by Vyacheslav Yaschenko for the "Caucasian Knot"'

    section.b-section.b-section--text
      p
        q
          if (lang == 'ru')
            |Я&nbsp;думаю, что любая работа должна оплачиваться. Это мое искреннее убеждение. Если человек профессионал своего дела, то&nbsp;и&nbsp;оплата должна быть соответствующая. Я&nbsp;готов уйти на&nbsp;работу в&nbsp;штабе на&nbsp;полную нагрузку. Уделю три месяца работе в&nbsp;штабе. Опыт такой работы у&nbsp;меня есть. И&nbsp;на&nbsp;&laquo;Единую Россию&raquo; работал, в&nbsp;том числе. Жена будет нашим бизнесом заниматься в&nbsp;это время
          else
            |I believe that any work must be paid for. This is my sincere opinion. If a person is a specialist in his or her business, then a salary should be appropriate. I am ready to work at the office for full pay. I will spend three months working at the office. I have an experience of such work. And among others, I worked for the 'Edinaya Rossiya' Party. My wife will control our business at that time

        cite
          if (lang == 'ru')
            |сказал Гусельников.
          else
            |said Dan Guselnikov.

      p
        if (lang == 'ru')
          |При этом он&nbsp;заметил, что о&nbsp;размере заработной платы он&nbsp;пока ничего не&nbsp;знает. В&nbsp;случае, если она его не&nbsp;устроит&nbsp;&mdash; работать в&nbsp;штабе не&nbsp;будет.
        else
          |Meanwhile, he has noted he is not yet aware of the salary at the office. In case it does not suit him, he will not work for the office.

      p
        q
          if (lang == 'ru')
            |Работать без денег я&nbsp;на&nbsp;Ксению Собчак не&nbsp;буду. Но&nbsp;я&nbsp;останусь ее&nbsp;сторонником, поставлю за&nbsp;нее свою подпись на&nbsp;выборах
          else
            |I will not work for Ksenia Sobchak for nothing. But I will remain her supporter and sign for her at the election

        cite
          if (lang == 'ru')
            |пояснил Дан Гусельников.
          else
            |explained Dan Guselnikov.

      p
        if (lang == 'ru')
          |В&nbsp;свою очередь руководитель ростовского штаба Собчак Анастасия Шевченко, имеющая высшее лингвистическое образование, опыт работы старшим инспектором в&nbsp;региональной избирательной комиссии области и&nbsp;координатором отдела продаж в&nbsp;коммерческой компании, заявила, что работает в&nbsp;штабе на&nbsp;&laquo;бескорыстной основе&raquo;.
        else
          |In turn, Anastasia Shevchenko, the chief of the Sobchak's office in Rostov, has got the higher linguistic education and the experience of work as a senior inspector in the regional election commission and a coordinator of sales in a commercial company. She states she works at the office "for nothing".

      p
        q
          if (lang == 'ru')
            |У&nbsp;меня была там (в&nbsp;коммерческой компании) хорошая зарплата. И&nbsp;я&nbsp;уволилась, перешла сюда. Многие мои знакомые крутят у&nbsp;виска. Потому что это на&nbsp;четыре месяца и&nbsp;потом ... Финансово я&nbsp;здесь совсем не&nbsp;выигрываю. Это первая выборная настоящая кампания. Мне кажется, что другого шанса у&nbsp;меня может не&nbsp;быть&nbsp;&mdash; стать частью этого большого мероприятия. И&nbsp;мне кажется, я&nbsp;смогу все достойно организовать здесь. Я&nbsp;их&nbsp;не&nbsp;подведу. Им&nbsp;нужны надежные люди в&nbsp;регионах
          else
            |I had a good salary there (in a commercial company). And I resigned and moved here. Many of my friends believe I got crazy, since this work is for four months only and what then ... I do not win here at all in finance. This is the first actual pre-election campaign. I believe I may not have another chance to become a part of such a big event. And it seems to me that I can organize everything on high level here. I will not let them down. They need reliable people in the regions

        cite
          if (lang == 'ru')
            |заявила Анастасия Шевченко.
          else
            |stated Anastasia Shevchenko.

      p
        if (lang == 'ru')
          |Политические оппоненты Ксении Собчак в&nbsp;мотивах волонтеров видят только деньги.
        else
          |Political opponents of Ksenia Sobchak see only money in motives of her volunteers.

      p
        q
          if (lang == 'ru')
            |Нет у&nbsp;Собчак никаких шансов. Результат на&nbsp;выборах будет в&nbsp;пределах статистической погрешности. Так что ребята, которые решили в&nbsp;Сочи штаб создать, наверняка это понимают
          else
            |Sobchak has no chances. The result at the elections will be within the statistical error. So, the guys who decided to set up an office in Sochi, understand that fact for sure

        cite
          if (lang == 'ru')
            |заявил корреспонденту &laquo;Кавказского узла&raquo; член сочинского отделения Общероссийского народного фронта <b>Илья Ефин</b>, полагая, что здесь и&nbsp;есть доказательство корыстного мотива.
          else
            |the "Caucasian Knot" correspondent was told by Ilya Yefin, a member of the Sochi branch of the All-Russia People's Front. He believes this is evidence of a mercenary motive here.

      p
        if (lang == 'ru')
          |Примерно о&nbsp;такой&nbsp;же мотивации волонтеров говорит руководитель фракции КПРФ в&nbsp;Совете депутатов Минераловодского городского округа <b>Анна Кропачева</b>.
        else
          |About the same motivation of volunteers is also mentioned by <b>Anna Kropacheva</b>, the leader of the Communist Party of the Russian Federation (CPRF) faction in the Council of delegates in the Mineralnye Vody urban district.

      p
        q
          if (lang == 'ru')
            |Исключительно вижу здесь корысть. Ксения Собчак не&nbsp;является народным героем. У&nbsp;нее здесь нет идейных сторонников. Как только появляется возможность кому-то нагреть руки на&nbsp;каких-то деньгах, всегда находятся люди, которые с&nbsp;радостью готовы предложить свои услуги
          else
            |I see only interest here. Ksenia Sobchak is not a national hero. She has no ideological supporters here. As soon as someone can fill one's pockets with some money, there are always people who are happy to offer their services

        cite
          if (lang == 'ru')
            |сказала Анна Кропачева.
          else
            |said Anna Kropacheva.

    section.b-section.b-section--thumb.b-section--thumb__small
      each size, src in sizes
        - attributessBlazy[src] = pathImg + "content/img-16-" + size + ".jpg?v=" + Date.now()
      .b-thumb-pic
        img.is-lazy-load(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", alt="")&attributes(attributessBlazy)
        .b-lazy-spinner
      .b-thumb-caption!=(lang == 'ru') ? "Глава фракции КПРФ в&nbsp;Совете депутатов Минераловодского городского округа Анна Кропачева. Фото Вячеслава Ященко для &laquo;Кавказского узла&raquo;" : 'Anna Kropacheva, the head of the CPRF faction at the Council of Deputies of the Mineralnye Vody City District. Photo by Vyacheslav Yaschenko for the "Caucasian Knot"'

    section.b-section.b-section--text
      h3.b-title!=(lang == 'ru') ? "Полуоткрытый штаб в&nbsp;Волгограде: волонтеров не&nbsp;видно, но&nbsp;есть политолог" : "Half-open office in Volgograd: no volunteers, but a political analyst"

      p
        em
          if (lang == 'ru')
            |Штаб Ксении Собчак в&nbsp;Волгограде на&nbsp;момент визита корреспондента &laquo;Кавказского узла&raquo; 27&nbsp;декабря еще официально не&nbsp;начал свою работу, однако на&nbsp;месте уже были его сотрудники и&nbsp;приходили люди, чтобы поставить подписи за&nbsp;Собчак.
          else
            |At the time of the visit of the "Caucasian Knot" correspondent on December 27, an office of Ksenia Sobchak in Volgograd had not yet officially started its activities, but his staff members were already there and people came to put their signatures for Sobchak.

      p
        if (lang == 'ru')
          |Штаб на&nbsp;улице Комсомольская, 3&nbsp;расположился в&nbsp;помещении пресс-центра &laquo;Волга-пресс&raquo; торгового центра &laquo;Диамант&raquo;. Он&nbsp;был официально открыт 29&nbsp;декабря, однако уже на&nbsp;момент визита корреспондента &laquo;Кавказского узла&raquo;&nbsp;&mdash; 27&nbsp;декабря&nbsp;&mdash; в&nbsp;штабе работали три сотрудника.
        else
          |The office in No. 3 in Komsomolskaya Street is located in the premises of the press centre "Volga-Press" of the shopping centre "Diamant". The office was officially opened on December 29. Meanwhile, on December 27, when it was visited by the "Caucasian Knot" correspondent, already three employees worked at the office.

    section.b-section.b-section--thumb.b-section--thumb__small
      each size, src in sizes
        - attributessBlazy[src] = pathImg + "content/img-17-" + size + ".jpg?v=" + Date.now()
      .b-thumb-pic
        img.is-lazy-load(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", alt="")&attributes(attributessBlazy)
        .b-lazy-spinner
      .b-thumb-caption!=(lang == 'ru') ? "Сотрудник волгоградского штаба Николай Шамеев. Фото Вячеслава Ященко для &laquo;Кавказского узла&raquo;" : 'Nikolai Shameev, an employee of the Volgograd office. Photo by Vyacheslav Yaschenko for the "Caucasian Knot"'

    section.b-section.b-section--text
      p
        if (lang == 'ru')
          |По&nbsp;его словам, на&nbsp;постоянной основе в&nbsp;штабе работают три сотрудника и&nbsp;один юрист, действенную помощь штабу готовы оказать 55&nbsp;волонтеров. На&nbsp;сайте Ксении Собчак зарегистрировалось более пятисот жителей Волгоградской области, утверждает сотрудник штаба <b>Николай Шамеев</b>.
        else
          |According to <b>Nikolai Shameev</b>, a member of the office, three staff members and a lawyer work at the office on the permanent basis, and 55 volunteers are ready to provide effective assistance to the office. More than 500 residents of the Volgograd Region are registered on the Ksenia Sobchak's website.

      p
        if (lang == 'ru')
          |По&nbsp;его словам, по&nbsp;плану волгоградский штаб должен собрать не&nbsp;менее 2,5 тысячи подписей в&nbsp;поддержку кандидата Ксении Собчак.
        else
          |Nikolai Shameev states that according to the plan, the Volgograd office is to collect at least 2500 signatures in support of candidate Ksenia Sobchak.

      p
        q
          if (lang == 'ru')
            |У&nbsp;волонтеров разная мотивация. Все приходят к&nbsp;нам по&nbsp;собственным убеждениям. Некоторые нам сами позвонили и&nbsp;предложили свою помощь. Остальным звонили&nbsp;мы. Телефоны брали на&nbsp;нашем сайте. Среди волонтеров есть&nbsp;те, кто готов ходить, собирать подписи, есть и&nbsp;те, кто этого делать по&nbsp;каким-то причинам не&nbsp;может, но&nbsp;готов агитировать за&nbsp;Собчак. Всех их&nbsp;мы&nbsp;трижды проинструктировали на&nbsp;прошлой неделе
          else
            |Volunteers have different motivations. Everyone comes to us according to his or her own views. Some of volunteers themselves called us and offered their help. We called the rest. We took phone numbers from our website. Among the volunteers, there are people who are ready to go to collect signatures, and there are also those who cannot do that for some reasons, but want to campaign for Sobchak. Last week, we instructed them three times

        cite
          if (lang == 'ru')
            |рассказал Николай Шамеев.
          else
            |said Nikolai Shameev.

      p
        if (lang == 'ru')
          |Поговорить с&nbsp;волонтерами корреспонденту &laquo;Кавказского узла&raquo; не&nbsp;удалось. По&nbsp;словам сотрудника штаба <b>Роберта Асатурова</b>, в&nbsp;штабе с&nbsp;добровольными помощниками можно поговорить, начиная со&nbsp;дня его открытия.
        else
          |The "Caucasian Knot" correspondent failed to talk to volunteers. According to <b>Robert Asaturov</b>, a staff member of the office, starting from the day of opening, it is hard to catch volunteers at the office to talk to them.

      p
        if (lang == 'ru')
          |Во&nbsp;время общения корреспондента &laquo;Кавказского узла&raquo; с&nbsp;сотрудниками штаба в&nbsp;помещение зашел волгоградский политолог Александр Сайгин. Он&nbsp;решил поставить свою подпись за&nbsp;Ксению Собчак.
        else
          |When the "Caucasian Knot" correspondent talked to staff members, Alexander Saigin, a Volgograd political analyst, came into the room. He decided to put his signature for Ksenia Sobchak.

    section.b-section.b-section--thumb.b-section--thumb__small
      each size, src in sizes
        - attributessBlazy[src] = pathImg + "content/img-18-" + size + ".jpg?v=" + Date.now()
      .b-thumb-pic
        img.is-lazy-load(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", alt="")&attributes(attributessBlazy)
        .b-lazy-spinner
      .b-thumb-caption!=(lang == 'ru') ? "Политолог Александр Сайгин (слева) и&nbsp;сотрудник штаба Роберт Асатуров. Фото Вячеслава Ященко для &laquo;Кавказского узла&raquo;" : 'Alexander Saigin, a political analyst (on the left), and Robert Asaturov, an office employee. Photo by Vyacheslav Yaschenko for the "Caucasian Knot"'

    section.b-section.b-section--text
      p
        q.not-zpt
          if (lang == 'ru')
            |В&nbsp;области есть тихий скрытый протест. Навальный в&nbsp;гонке участвовать не&nbsp;может и&nbsp;предлагает не&nbsp;голосовать. Собчак&nbsp;же, наоборот, говорит&nbsp;&mdash; идите на&nbsp;выборы, покажите свой протест. Чем шире этот протест будет, тем быстрее можно показать, какие проблемные точки есть. Другое дело&nbsp;&mdash; может&nbsp;ли правильный месседж подобрать волгоградский штаб?
          else
            |There is a silent hidden protest in the region. Navalny cannot run for presidency and offers not to vote. On the contrary, Sobchak tells people to go to polling stations and to demonstrate their protest. The wider the protest is, the faster the problems can be shown. Another question is whether the correct message is able to find people for the Volgograd office?

        cite
          if (lang == 'ru')
            |заявил Александр Сайгин.
          else
            |stated Alexander Saigin.

    section.b-section.b-section--text
      h3.b-title!=(lang == 'ru') ? "Дагестан и&nbsp;Ингушетия&nbsp;&mdash; объявились, но&nbsp;не&nbsp;открылись" : "Dagestan and Ingushetia: announcement, not opening"

      p
        if (lang == 'ru')
          |7&nbsp;декабря &laquo;Махачкалинские известия&raquo; и&nbsp;издание &laquo;Ингушетия&raquo; со&nbsp;ссылкой на&nbsp;руководителя региональной сети штабов Собчак Тимура Валеева сообщили, что в&nbsp;этих республиках будут <a href="http://www.kavkaz-uzel.eu/articles/313516/" target="_blank">предвыборные штабы</a> Собчак.
        else
          |On December 7, with reference to Timur Valeev, the head for the regional network of the Sobchak's offices, the "Makhachkala News" and the "Ingushetia" reported that <a href="http://www.kavkaz-uzel.eu/articles/313516/" target="_blank">Sobchak's pre-election offices</a> will be opened in Dagestan and Ingushetia.

      p
        if (lang == 'ru')
          |Утверждалось, что при содействии партии &laquo;Гражданская инициатива&raquo; штаб в&nbsp;Дагестане возглавил председатель Национально-культурной автономии дидойцев Магомед Магомедов, штаб в&nbsp;Ингушетии&nbsp;&mdash; бывший председатель кооператива &laquo;Экажево&raquo; Ахмет-хан Хидриев.
        else
          |It was announced that with the assistance of the "Civil Initiative" Party, the office in Dagestan was headed by Magomed Magomedov, the chairman for the Didoi National and Cultural Autonomy, while Akhmet-Khan Khidriev, the former chairman of the "Ekazhevo" cooperative, headed the office in Ingushetia.

      p
        if (lang == 'ru')
          |Позднее сотрудник московского штаба Ксении Собчак <b>Александр Белоновский</b> заявил &laquo;Кавказскому узлу&raquo;, что открытия предвыборных штабов в&nbsp;Дагестане и&nbsp;Ингушетии не&nbsp;было и&nbsp;не&nbsp;планируется.
        else
          |Later, <b>Alexander Belonovsky</b>, an employee of the Ksenia Sobchak's office in Moscow, have told the "Caucasian Knot" correspondent no Sobchak's pre-election offices are opened in Dagestan and Ingushetia and no offices are planned to be opened there.

      p
        q
          if (lang == 'ru')
            |Ни&nbsp;в&nbsp;Ингушетии, ни&nbsp;в&nbsp;Дагестане штабов нет и&nbsp;не&nbsp;будет. Там есть отделение партии &laquo;Гражданская инициатива&raquo;, но&nbsp;это к&nbsp;нашей президентской кампании не&nbsp;имеет отношения. Возможно, подписи будут помогать собирать, но&nbsp;штабов не&nbsp;будет
          else
            |There are no offices in Ingushetia and Dagestan. And no offices will be opened there. There is a branch of the 'Civil Initiative' Party there, but they have nothing in common with our presidential campaign. Perhaps, people will help to collect signatures, but no offices will be opened

        cite
          if (lang == 'ru')
            |пояснил он.
          else
            |explained Alexander Belonovsky.

      p
        if (lang == 'ru')
          |На&nbsp;Кавказе предвыборные штабы Ксении Собчак могут возникнуть только с&nbsp;позволения властей, считает руководитель ингушской правозащитной организации &laquo;Машр&raquo;, автор блога на&nbsp;&laquo;Кавказском узле&raquo; Магомед Муцольгов.
        else
          |In the Caucasus, pre-election offices of Ksenia Sobchak can arise only with the permission of the authorities, believes Magomed Mutsolgov, the head of the Ingush human rights organization "Mashr", the author of the blog at the "Caucasian Knot".

    section.b-section.b-section--thumb.b-section--thumb__small
      each size, src in sizes
        - attributessBlazy[src] = pathImg + "content/img-19-" + size + ".jpg?v=" + Date.now()
      .b-thumb-pic
        img.is-lazy-load(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", alt="")&attributes(attributessBlazy)
        .b-lazy-spinner
      .b-thumb-caption!=(lang == 'ru') ? "Магомед Муцольгов" : "Magomed Mutsolgov"

    section.b-section.b-section--text
      p
        q
          if (lang == 'ru')
            |Желающих у&nbsp;нас нет. Штабы Собчак зарегистрируют добровольно-принудительно, если власти дадут такое указание
          else
            |There are no people at our place, who would like to work as volunteers. Sobchak's offices will be registered in voluntarily-compulsorily way, if the authorities give such instructions

        cite
          if (lang == 'ru')
            |сказал Магомед Муцольгов корреспонденту &laquo;Кавказского узла&raquo;.
          else
            |the "Caucasian Knot" correspondent was told by Magomed Mutsolgov.

      p
        if (lang == 'ru')
          |По&nbsp;его словам, у&nbsp;народов Кавказа преобладают консервативные взгляды.
        else
          |According to him, conservative views prevail among the peoples of the Caucasus.

      p
        q
          if (lang == 'ru')
            |Образ гламурной львицы, ведущей программу &laquo;Дом-2&raquo;, не&nbsp;вызывает симпатии у&nbsp;подавляющего большинства наших людей. Ксения Собчак авторитетом на&nbsp;Кавказе не&nbsp;пользуется, поэтому сомнительно, что добровольно кто-то захочет работать в&nbsp;ее&nbsp;штабе
          else
            |The image of the glamorous young woman, who announced the "Dom-2" TV show, does not cause any sympathy for the vast majority of our people. Ksenia Sobchak enjoys no respect in the Caucasus, so, it is doubtful that someone will volunteer to work at her office

        cite
          if (lang == 'ru')
            |полагает Муцольгов.
          else
            |believes Magomed Mutsolgov.

    section.b-section.b-section--text
      h3.b-title!=(lang == 'ru') ? "Оппоненты симпатизируют и&nbsp;ругают Собчак" : "Opponents sympathize and condemn Sobchak"

      p
        em
          if (lang == 'ru')
            |Ксения Собчак прежде всего журналист, а&nbsp;не&nbsp;политик, и&nbsp;вряд&nbsp;ли сможет выиграть выборы, считают политические оппоненты Собчак. Однако часть из&nbsp;них отмечает, что Ксения Собчак и&nbsp;поддерживающие ее&nbsp;волонтеры быстро учатся&nbsp;и, несмотря на&nbsp;проигрыш этих выборов, могут стать серьезной политической силой в&nbsp;будущем.
          else
            |Ksenia Sobchak is primarily a journalist, not a politician, and she is unlikely to win the election, her political opponents believe. However, some of them note that Ksenia Sobchak and volunteers supporting her are quickly learning, and, despite the loss of the election, they can become a serious political force in the future.

    section.b-section.b-section--thumb.b-section--thumb__small
      each size, src in sizes
        - attributessBlazy[src] = pathImg + "content/img-20-" + size + ".jpg?v=" + Date.now()
      .b-thumb-pic
        img.is-lazy-load(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", alt="")&attributes(attributessBlazy)
        .b-lazy-spinner
      .b-thumb-caption!=(lang == 'ru') ? "Глава Сочинского отделения партии &laquo;Справедливая Россия&raquo; Олег Радин. Фото Вячеслава Ященко для &laquo;Кавказского узла&raquo;" : 'Oleg Radin, the head of the Sochi branch "Spravedlivaya Rossiya" (Fair Russia) Party. Photo by Vyacheslav Yaschenko for the "Caucasian Knot"'

    section.b-section.b-section--text
      p
        if (lang == 'ru')
          |Шансы Собчак на&nbsp;президентских выборах&nbsp;&mdash; &laquo;очень низкие&raquo;, уверен председатель Сочинского отделения партии &laquo;Справедливая Россия&raquo; <b>Олег Радин</b>.
        else
          |<b>Oleg Radin</b>, the chairman of the Sochi branch of the "Spravedlivaya Rossiya" (Fair Russia) Party, believes the Sobchak's chances at the presidential election are "very low".

      p
        q
          if (lang == 'ru')
            |Она&nbsp;&mdash; прежде всего журналист. Взыграли амбиции, решила стать президентом страны. Россией руководили и&nbsp;женщины, но&nbsp;у&nbsp;Собчак небольшие шансы на&nbsp;это
          else
            |She is primarily a journalist. Her ambitions grew, and she decided to become the president of the country. Russia was also run by women, but Sobchak has small chances for that

        cite
          if (lang == 'ru')
            |уверен Олег Радин.
          else
            |believes Oleg Radin.

      p
        if (lang == 'ru')
          |&laquo;Спектаклем&raquo; и&nbsp;&laquo;пиар ходом&raquo; для того, чтобы сделать явку на&nbsp;выборах президента, назвал участие Ксении Собчак в&nbsp;президентской гонке руководитель фракции &laquo;Справедливая Россия&raquo; в&nbsp;Законодательном собрании Ростовской области <b>Сергей Косинов</b>.
        else
          |<b>Sergey Kosinov</b>, the leader of the "Fair Russia" faction in the Legislative Assembly for the Rostov Region, treats the participation of Ksenia Sobchak in the presidential election as a "show" and a "PR step" to reach a necessary turnout at the presidential election.

    section.b-section.b-section--thumb.b-section--thumb__small
      each size, src in sizes
        - attributessBlazy[src] = pathImg + "content/img-21-" + size + ".jpg?v=" + Date.now()
      .b-thumb-pic
        img.is-lazy-load(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", alt="")&attributes(attributessBlazy)
        .b-lazy-spinner
      .b-thumb-caption!=(lang == 'ru') ? "Глава фракции &laquo;Справедливая Россия&raquo; в&nbsp;парламенте Ростовской области Сергей Косинов. Фото Вячеслава Ященко для &laquo;Кавказского узла&raquo;" : 'Sergey Kosinov, the head of the faction of the "Spravedlivaya Rossiya" (Fair Russia) Party in the Parliament of the Rostov Region. Photo by Vyacheslav Yaschenko for the "Caucasian Knot"'

    section.b-section.b-section--text
      p
        if (lang == 'ru')
          |Иной точки зрения придерживается секретарь первичной организации КПРФ в&nbsp;Ростове-на-Дону <b>Николай Ларин</b>. По&nbsp;его мнению, Ксению Собчак &laquo;нужно воспринимать, как достойного соперника на&nbsp;выборах&raquo;.
        else
          |A different point of view is expressed by <b>Nikolai Larin</b>, the secretary for the CPRF's primary organization in Rostov-on-Don. According to him, Ksenia Sobchak "should be perceived as a worthy opponent at the election".

      p
        q
          if (lang == 'ru')
            |По&nbsp;результатам сбора подписей она пройдет&nbsp;&mdash; 100% и&nbsp;результат на&nbsp;выборах будет не&nbsp;самый худший. У&nbsp;нее лозунг, который она придумала&nbsp;&mdash; &laquo;Против всех&raquo;&nbsp;&mdash; достоин уважения. Мое личное отношение к&nbsp;ней&nbsp;&mdash; она учится, тренируется. К&nbsp;выборам 2024 года она будет уже совсем иным человеком и&nbsp;политиком, если продолжит в&nbsp;том&nbsp;же духе
          else
            |I believe there is a 100 percent possibility she will pass according to the results of the collection of signatures, and her result at the elections will not be the worst. Her slogan, which she came up with, 'Against All' is worthy of respect. To my personal mind, she studies and trains. By the election of 2024, she will be a completely different person and politician, if she continues like that

        cite
          if (lang == 'ru')
            |заявил Николай Ларин.
          else
            |noted Nikolai Larin.

    section.b-section.b-section--thumb.b-section--thumb__small
      each size, src in sizes
        - attributessBlazy[src] = pathImg + "content/img-22-" + size + ".jpg?v=" + Date.now()
      .b-thumb-pic
        img.is-lazy-load(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", alt="")&attributes(attributessBlazy)
        .b-lazy-spinner
      .b-thumb-caption!=(lang == 'ru') ? "Николай Ларин&nbsp;&mdash; член ростовского регионального отделения КПРФ. Фото Вячеслава Ященко для &laquo;Кавказского узла&raquo;" : 'Nikolai Larin, a member of the Rostov-on-Don regional branch of the CPRF. Photo by Vyacheslav Yaschenko for the "Caucasian Knot"'

    section.b-section.b-section--text
      p
        if (lang == 'ru')
          |По&nbsp;мнению ростовского коммуниста, активисты и&nbsp;волонтеры городского штаба Собчак &laquo;приобретают богатый опыт выборной работы&raquo;.
        else
          |According to the Rostov communist, activists and volunteers of the Sobchak's city office "acquire a rich experience in elective activities".

      p
        q
          if (lang == 'ru')
            |Люди тренируется. Это впервые в&nbsp;их&nbsp;жизни&nbsp;&mdash; настоящий штаб в&nbsp;предвыборной гонке. К&nbsp;марту они достигнут определенных результатов
          else
            |People are training. This is the first time in their lives when they run a real office in the election race. By March, they will achieve certain results

        cite
          if (lang == 'ru')
            |похвалил сотрудников и&nbsp;волонтеров ростовского штаба Собчак Николай Ларин.
          else
            |Nikolai Larin praised staff members and volunteers of the Sobchak's office in Rostov.

      p
        if (lang == 'ru')
          |Симпатии к&nbsp;активистам ростовского штаба Ксении Собчак испытывает и&nbsp;заместитель председателя регионального отделения партии &laquo;Яблоко&raquo; <b>Мария Кривенко</b>.
        else
          |Sympathy for the activists of the Ksenia Sobchak's office in Rostov is also shared by <b>Maria Krivenko</b>, the deputy chair of the "Yabloko" Party's regional branch.

      p
        q
          if (lang == 'ru')
            |В&nbsp;Ростове есть костяк активистов, которые время от&nbsp;времени могут к&nbsp;какой-то партии примыкать. Мы&nbsp;находим общий язык. Я&nbsp;уверена в&nbsp;искренности их&nbsp;намерений и&nbsp;взглядов
          else
            |In Rostov, there is a core of activists, who from time to time may join some party. We find a common language. I am sure of the sincerity of their intentions and views

        cite
          if (lang == 'ru')
            |отметила Мария Кривенко.
          else
            |noted Maria Krivenko.

      p
        if (lang == 'ru')
          |При этом она раскритиковала политические амбиции Ксении Собчак. По&nbsp;мнению Марии Кривенко, Собчак лозунгом &laquo;Против всех&raquo; подрывает авторитет выборов и&nbsp;&laquo;вводит избирателей в&nbsp;заблуждение, что сыграет на&nbsp;руку существующей власти&raquo;.
        else
          |Meanwhile, she criticized the Ksenia Sobchak's political ambitions. According to Maria Krivenko, with her slogan "Against All", Ksenia Sobchak undermines the credibility of the election and "misleads voters, and the existing authorities can benefit from that fact".

    section.b-section.b-section--thumb.b-section--thumb__small
      each size, src in sizes
        - attributessBlazy[src] = pathImg + "content/img-23-" + size + ".jpg?v=" + Date.now()
      .b-thumb-pic
        img.is-lazy-load(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", alt="")&attributes(attributessBlazy)
        .b-lazy-spinner
      .b-thumb-caption!=(lang == 'ru') ? "Мария Кривенко, член ростовского отделения партии &laquo;Яблоко&raquo;. Фото Вячеслава Ященко для &laquo;Кавказского узла&raquo;" : 'Maria Krivenko, a member of the Rostov-on-Don branch of the "Yabloko" Party. Photo by Vyacheslav Yaschenko for the "Caucasian Knot"'

    section.b-section.b-section--text
      h3.b-title!=(lang == 'ru') ? "Собчак и&nbsp;Навальный&nbsp;&mdash; такие разные сторонники" : "Sobchak and Navalny: supporters differ"

      p
        if (lang == 'ru')
          |Сторонники Ксении Собчак, с&nbsp;которыми пообщался корреспондент &laquo;Кавказского узла&raquo;, говорят о&nbsp;своих оппозиционных взглядах. По&nbsp;данным сотрудников штабов, к&nbsp;ним приходят люди хорошо зарабатывающие, респектабельные, которые недовольны сложившейся ситуацией, но&nbsp;не&nbsp;желающие активно протестовать на&nbsp;улицах. Также костяк протестного движения Собчак составляют молодые люди, не&nbsp;желающие быть отчисленными из&nbsp;учебных заведений за&nbsp;акции протеста.
        else
          |Supporters of Ksenia Sobchak, to whom the "Caucasian Knot" correspondent has talked, described their opposition views. According to staff members of the pre-election offices, they are addressed by people who earn well, by respectable people who are dissatisfied with the situation, but who do not want to actively protest in the streets. Besides, the core of the Sobchak's protest movement is represented by young people who do not want to be expelled from educational institutions for involvement in protest actions.

      p
        if (lang == 'ru')
          |Прошлое Собчак ее&nbsp;сторонников не&nbsp;пугает, а&nbsp;некоторые считают ее&nbsp;медийность&nbsp;&mdash; порой скандальную&nbsp;&mdash; скорее плюсом, чем минусом, потому что через популярность и&nbsp;знакомства с&nbsp;представителями власти Собчак могла&nbsp;бы быстрее донести до&nbsp;нужных людей проблемы в&nbsp;регионах, даже если не&nbsp;станет президентом.
        else
          |The supporters of Ksenia Sobchak are not confused about her past, and some consider her publicity sometimes scandalous rather a plus than a minus, since through her popularity and acquaintance with public figures, Sobchak would be able to quickly report to the right people the problems in the regions, even if she does not become the president.

      p.b-note
        if (lang == 'ru')
          |Устные оценки волонтеров сильно отличаются от&nbsp;сентябрьских исследований Всероссийского центра изучения общественного мнения (ВЦИОМ) и&nbsp;декабрьского опроса &laquo;Левада-Центр&raquo;.
        else
          |Volunteers' word rate differs a lot from the September survey of the All-Russia Public Opinion Research Centre (known as VTsIOM) and the December questioning held by the "Levada-Centre".

      p
        if (lang == 'ru')
          |Согласно опросу ВЦИОМ, имя Ксении Собчак знакомо&nbsp;95% опрошенных, 60% из&nbsp;них оценивают Собчак отрицательно и&nbsp;21%&nbsp;&mdash; положительно. В&nbsp;2012 году ответ &laquo;хорошо знаю&raquo; Ксению Собчак давали&nbsp;57% опрошенных, в&nbsp;2015 году уже 72%. При этом в&nbsp;2012 году &laquo;скорее отрицательно&raquo; к&nbsp;Собчак относились&nbsp;57% от&nbsp;тех, кто ранее слышал о&nbsp;ней, а&nbsp;в&nbsp;2015 году 60%. И&nbsp;только&nbsp;4% опрошенных, из&nbsp;тех, кто знаком с&nbsp;понятием &laquo;внесистемная оппозиция&raquo;, в&nbsp;2016 году отнесли Собчак к&nbsp;оппозиционерам. Алексея Навального&nbsp;же сочли представителем внесистемной оппозиции&nbsp;15% респондентов.
        else
          |According to the VTsIOM poll, the name of Ksenia Sobchak is familiar to 95% of respondents. Of them, 60% voiced negative opinion about Sobchak and 21% positive. In 2012, the answer "I know well" Ksenia Sobchak was given by 57% of respondents, while in 2015, already by 72%. In 2012, 57% of those who earlier heard about Sobchak talked of her "rather negative", and in 2015, their number rose to 60%. And in 2016, only 4% of the respondents, familiar with the definition of "non-systemic opposition," attributed Sobchak to the opposition. Meanwhile, 15% of respondents treated Alexei Navalny as a representative of the non-systemic opposition.

      p
        if (lang == 'ru')
          |При этом, согласно опросу проведенному &laquo;Левада-Центр&raquo; 1-5&nbsp;декабря, только&nbsp;1% респондентов готовы голосовать за&nbsp;Ксению Собчак. А&nbsp;за&nbsp;Владимира Путина, на&nbsp;момент опроса еще не&nbsp;объявившего о&nbsp;намерении выдвинуть свою кандидатуру на&nbsp;пост президента России, готовы были отдать свои голоса&nbsp;61% респондентов.
        else
          |Meanwhile, according to a survey conducted by "Levada-Centre" on December 1-5, only 1% of respondents are ready to vote for Ksenia Sobchak. And 61% of respondents were ready to give their votes for Vladimir Putin, who at the time of the poll had not yet announced his intention to run for Russian presidency.

    section.b-section.b-section--video
      iframe.is-lazy-load(data-src=(lang == 'ru') ? "https://www.youtube.com/embed/ESV2Raaag_w" : "https://www.youtube.com/embed/127jOg0K9ls", frameborder="0", allowfullscreen)
      .b-lazy-spinner
      .b-message-error!=(lang == 'ru') ? "Видео недоступно<br>Вы&nbsp;просматриваете Offline версию статьи, либо произошла ошибка при загрузке" : "Video is not available<br>You are viewing the Offline version of the article, or an error occurred while downloading"

    section.b-section.b-section--text
      p
        if (lang == 'ru')
          |Практически все опрошенные корреспондентом &laquo;Кавказского узла&raquo; сторонники Ксении Собчак и&nbsp;часть их&nbsp;оппонентов высказали общую мысль: за&nbsp;журналисткой готовы идти люди, придерживающиеся оппозиционных взглядов, но&nbsp;не&nbsp;готовые, как волонтеры Алексея Навального, участвовать в&nbsp;несогласованных акциях протеста и&nbsp;нести за&nbsp;это административную и&nbsp;уголовную ответственность. Собчак, таким образом, может объединять в&nbsp;своих рядах умеренные оппозиционные силы юга России.
        else
          |Almost all the supporters of Ksenia Sobchak and some of their opponents, interviewed by the "Caucasian Knot" correspondent, voiced a common idea: the journalist can be supported by people who adhere to oppositional views, but who, unlike Alexei Navalny's volunteers, do not want to participate in unsanctioned protests and be brought to administrative and criminal responsibility. So, Ksenia Sobchak can unite in her ranks the moderate opposition forces of Southern Russia.


    section.b-section.b-section--author
      .author-text(itemprop="author", itemscope, itemtype="http://schema.org/Person")
        b!=(lang == 'ru') ? "Автор:&nbsp;" : "Author:&nbsp;"
        span(itemprop="name")!=(lang == 'ru') ? "Вячеслав Ященко, Корреспондент &laquo;Кавказского узла&raquo;" : 'Vyacheslav Yashchenko, Correspondent of the "Caucasian Knot"'

  .b-link-article-print#isLinkArticle(hidden)

  .remodal(data-remodal-id="modalNote")
    button.remodal-close(data-remodal-action="close")
    #modalNumberNote.remodal-number-note
    #modalTextNote.remodal-text-note
    button.remodal-confirm(data-remodal-action="confirm") OK
