footer {
  width: 100%;
  min-height: 60px;
  background-color: #fff;
  box-shadow: 0 -2px 5px rgba(0,0,0,.26);
  padding: 21px 15px 20px;
  position: relative;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;

  @include to(tablet-medium) {
    text-align: center;
    justify-content: center;
  }
}

.b-footer_copyright {
  font-size: 16px;

  @include to(tablet-medium) {
    width: 100%;
  }
}

.b-footer_infotext {
  font-size: 12px;
  line-height: 16px;
  margin-top: 5px;

  @include from(tablet-medium) {
    text-align: right;
    margin-top: 0;
  }
}
