header {
  width: 100%;
  background-color: #fff;
  min-height: 61px;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  padding: 14px 15px 15px;
  position: relative;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;

  @include to(580px) {
    text-align: center;
    justify-content: center;
  }
}

.e-header_logo {
  color: #000;
  font: 32px Georgia, Times, 'Times New Roman', serif;
  line-height: 1;
  text-decoration: none;
  transition: all 0.2s;

  @include to(580px) {
    width: 100%;
  }

  &:hover {
    color: #555;
  }
}

.b-header_share {

  a {
    border: none;
    float: left;
    transition: opacity 0.2s;
    margin: 0 0 0 5px !important;

    &:first-of-type {
      margin-left: 0px !important;
    }

    .at-icon-wrapper {
      display: block;

      @include to(580px) {
        width: 25px !important;
        height: 25px !important;
      }

      @include from(580px) {
        width: 30px !important;
        height: 30px !important;
      }

      svg {
        @include to(580px) {
          width: 25px !important;
          height: 25px !important;
        }

        @include from(580px) {
          width: 30px !important;
          height: 30px !important;
        }
      }
    }

    &:hover {
      opacity: 0.8;
    }
  }

  @include to(580px) {
    margin-top: 10px;
  }
}
