main {
  position: relative;
  padding-bottom: 20px;

  @include from(tablet-small) {
    padding-bottom: 40px;
  }

  @include from(tablet-medium) {
    min-height: calc(100vh - 61px - 60px);
  }

  .is-embeded & {
    min-height: 100vh;
  }
}

.b-section {
  background-color: #fff;
  margin: 0 auto;
  position: relative;

  &--main {
    width: 100%;
    max-width: $max-width-media;
    height: calc(100vh - 96px);
    position: relative;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;

    @include from(580px) {
      height: calc(100vh - 61px);
    }

    .is-embeded & {
      height: 100vh;
    }

    .no-touch & {
      background-attachment: fixed;
    }

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      @include position(absolute, 0 0 0 0);
      z-index: 1;
      background-color: rgba(0,0,0,0.4);
    }

    @include from(tablet-small) {
      margin-bottom: 40px;
    }

    &_info {
      width: 100%;
      z-index: 9;
      padding: 0 20px;
      @include align-center(true, false);
      bottom: 100px;
      max-width: 1920px;

      .b-info_title {
        text-shadow: 1px 1px 2px #000;
        font: 700 26px $ptserif-font;
        line-height: 1.2;
        letter-spacing: 2px;

        @include from(768px) {
          font-size: 54px;
          line-height: 1.3;
        }
      }
    }
  }

  &--text {
    font: 400 16px $ptserif-font;
    padding: 20px 15px;
    max-width: $max-width-content;
    margin-bottom: 20px;
    border: 1px solid #eee;
    background-color: #fff;
    line-height: 1.3;
    hyphens: auto;

    @include from(tablet-small) {
      margin-bottom: 40px;
      padding: 30px 35px;
      font-size: 18px;
    }

    p {

      &:not(:last-of-type) {
        margin-bottom: 15px;
      }

      &.b-blockquote {
        position: relative;
        padding: 0 30px;
        margin: 35px 0;
        text-align: center;
        font-style: italic;
        font-size: 20px;
        color: #666;

        &::before,
        &::after {
          position: absolute;
          font-size: 60px;
          line-height: 0;
        }

        &::before {
          content: "\201C";
          top: 16px;
          left: 0;
        }

        &::after {
          content: "\201D";
          bottom: -18px;
          right: 6px;
        }
      }

      &.b-note {
        padding: 15px 20px;
        background-color: #f5f5f5;
        text-align: center;
        border: 1px solid #dedede;
      }

      q {
        font-style: italic;
        line-height: 1.4;
        color: #555;
        border-left: 3px solid #aaa;
        padding-left: 15px;
        display: block;
        quotes: "\00ab" "\00bb,";

        &.not-zpt {
          quotes: "\00ab" "\00bb";
        }

        i {
          color: #000;
        }
      }

      cite {
        font-weight: 700;
        color: #555;
        display: block;
        border-left: 3px solid #aaa;
        padding-left: 34px;
        font-size: 16px;
        padding-top: 4px;
        position: relative;

        &::before {
          content:"\2014";
          position: absolute;
          left: 15px;
        }
      }
    }

    em, i {
      font-style: italic
    }

    strong, b {
      font-weight: 700;
    }

    sup {
      vertical-align: top;
      display: inline-block;
      font-size: 12px;
      font-weight: 400;
      font-style: normal;
      cursor: pointer;
      line-height: 1;
      color: #359600;
      border: 1px dashed #359600;
      border-radius: 100%;
      margin: 4px 2px 0 3px;
      padding: 2px 5px 2px 5px;

      &:hover {
        border-style: solid;
        background-color: #359600;
        color: #fff;
      }
    }

    &__intro {
      opacity: 0.8;
      font-size: 20px;
    }

    .b-title {
      margin-bottom: 17px;
      font-size: 22px;
      font-weight: 700;
    }
  }

  &--thumb,
  &--video,
  &--map {
    width: 100%;
    max-width: $max-width-media;
    height: calc(100vh - 100px);
    margin-bottom: 20px;
    overflow: hidden;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;

    @include from(tablet-small) {
      margin-bottom: 40px;
    }
  }

  &--thumb {

    .b-thumb-pic {
      width: 100%;
      height: 100%;
    }

    &__small {
      max-width: 600px;
      height: auto;

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &--thumb,
  &--main {

    .b-thumb-caption {
      opacity: 0;
      max-width: 100%;
      font-weight: 300;
      font-size: 13px;
      line-height: 1.5;
      color: #fff;
      position: absolute;
      text-align: center;
      right: 15px;
      margin-left: 15px;
      bottom: 15px;
      padding: 5px 15px;
      z-index: 9;
      background-color: rgba(0,0,0,0.6);
      transition: opacity 0.3s;
      will-change: opacity;
    }

    &:hover {

      .b-thumb-caption {
        opacity: 1;
      }
    }
  }

  &--video {

    iframe {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &--map {
    -webkit-overflow-scrolling: touch;
    position: relative;
  }

  &--author {
    font-family: $ptserif-font;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    background-color: #f7f7f7;
    padding: 15px 20px;

    .author-text {
      background-color: #fff;
      box-shadow: 0 1px 5px rgba(0,0,0,0.16);
      padding: 10px 25px;
      border-radius: 60px;
      display: inline-block;

      &:not(:last-child) {
        margin-bottom: 7px;
      }

      b {
        font-weight: 700;
      }
    }
  }
}
